<app-app-header [titleText]="'Sign Up'" [menuButton]="true"></app-app-header>

<ion-content color="light" class="ion-padding" style="--offset-top: 0px; --offset-bottom: 0px">
    <div class="card">
        <ion-list class="ion-no-margin ion-no-padding" lines="full">
            <ion-item class="item-interactive item-input item-has-placeholder item">
                <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">
                    Sponsor ID
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="text" placeholder="Upline ID" class="sc-ion-input-md-h sc-ion-input-md-s">
                </ion-input>
            </ion-item>
            <ion-text color="danger" class="errorText" *ngIf="sponsonIDError">Enter Sponsor ID</ion-text>

            <ion-item class="item-interactive item-input item-has-placeholder item">
                <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">
                    Referral ID
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="text" placeholder="Referral ID" class="sc-ion-input-md-h sc-ion-input-md-s">
                </ion-input>
            </ion-item>
            <ion-text color="danger" class="errorText" *ngIf="sponsonIDError">Enter Referral ID</ion-text>
        </ion-list>
        <ion-list class="ion-no-margin ion-no-padding" lines="full">
            <ion-item class="item-interactive item-input item-has-placeholder item">
                <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">
                    First Name
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="text" placeholder="Enter First Name" class="sc-ion-input-md-h sc-ion-input-md-s">
                </ion-input>
            </ion-item>
            <ion-text color="danger" class="errorText" *ngIf="sponsonIDError">Enter First Name</ion-text>

            <ion-item class="item-interactive item-input item-has-placeholder item">
                <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">
                    Middle Name
                </ion-label>
                <ion-input type="text" placeholder="Enter Middle Name" class="sc-ion-input-md-h sc-ion-input-md-s">
                </ion-input>
            </ion-item>

            <ion-item class="item-interactive item-input item-has-placeholder item">
                <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">
                    Last Name
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="text" placeholder="Enter Last Name" class="sc-ion-input-md-h sc-ion-input-md-s">
                </ion-input>
            </ion-item>
            <ion-text color="danger" class="errorText" *ngIf="sponsonIDError">Enter Last Name</ion-text>
        </ion-list>

        <ion-list class="ion-no-margin ion-no-padding" lines="full">
            <ion-item class="item-interactive item-input item-has-placeholder item">
                <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">
                    Address
                </ion-label>
                <ion-input type="text" placeholder="Full Address" class="sc-ion-input-md-h sc-ion-input-md-s">
                </ion-input>
            </ion-item>

            <ion-item class="item-interactive item-input item-has-placeholder item">
                <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">
                    Pin Code
                </ion-label>
                <ion-input type="tel" placeholder="Enter Pin Code" class="sc-ion-input-md-h sc-ion-input-md-s">
                </ion-input>
            </ion-item>

            <ion-item class="item-interactive item-input item-has-placeholder item">
                <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">Select Country</ion-label>
                <ion-select [(ngModel)]="country">
                    <ion-select-option value="ind">India</ion-select-option>
                    <ion-select-option value="usa">USA</ion-select-option>
                    <ion-select-option value="uk">UK</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item class="item-interactive item-input item-has-placeholder item">
                <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">Select City</ion-label>
                <ion-select [(ngModel)]="city">
                    <ion-select-option value="pune">Pune</ion-select-option>
                    <ion-select-option value="usa">Nagpur</ion-select-option>
                    <ion-select-option value="uk">Nashik</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item class="item-interactive item-input item-has-placeholder item">
                <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">Select City</ion-label>
                <ion-select [(ngModel)]="state">
                    <ion-select-option value="mh">Maharashtra</ion-select-option>
                    <ion-select-option value="usa">Gujrat</ion-select-option>
                    <ion-select-option value="uk">Bihar</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item class="item-interactive item-input item-has-placeholder item">
                <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">
                    Mobile Number
                </ion-label>
                <ion-row>
                    <ion-col>
                        <ion-input [disabled]="true" type="tel" class="sc-ion-input-md-h sc-ion-input-md-s" value="India(+91)">
                        </ion-input>
                    </ion-col>
                    <ion-col>
                        <ion-input type="tel" [disabled]="true" class="sc-ion-input-md-h sc-ion-input-md-s" placeholder="9999999999" value="9561625256">
                        </ion-input>
                    </ion-col>
                </ion-row>
            </ion-item>

            <ion-item class="item-interactive item-input item-has-placeholder item">
                <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">
                    Pan No.
                </ion-label>
                <ion-input type="text" class="sc-ion-input-md-h sc-ion-input-md-s" value="Pune">
                </ion-input>
            </ion-item>
        </ion-list>

    </div>
</ion-content>
<ion-footer class="ion-no-border footer-background">
    <ion-button (click)="register()" shape="round" expand="block" color="primary">
        Register
    </ion-button>
</ion-footer>