<app-app-header [titleText]="'Monthly Scheme Details'" [menuButton]="true"></app-app-header>
<ion-content color="light" class="ion-content-padding-10px">
  <div class="card mt15 mb-2" *ngFor="let report of monthlySchemeDetails">
    <ion-row>
      <ion-col size="6" class="text-left">
        <strong>{{report.name}}</strong>
      </ion-col>
      <ion-col size="6" class="text-right">
        <strong>{{ report.id}}</strong>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="text-left">
        <div class="text-secondary">Direct Id</div>
        <div>{{ report.directId}}</div>
      </ion-col>
      <ion-col size="6" class="text-right">
        <div class="text-secondary">Direct Name</div>
        <div>{{ report.directName}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="text-left">
        <div class="text-secondary">Transaction date</div>
        <div>{{ report.transactionDate}}</div>
      </ion-col>
      <ion-col size="6" class="text-right">
        <div class="text-secondary">Group BV</div>
        <div>{{ report.groupBV}}</div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>