<app-app-header [titleText]="'Shipment #52'" [backButton]="true"></app-app-header>

<ion-content color="light" class="ion-content-padding-10px">
    <div class="card mt15">
        <div class="p-1">
            <ion-row class="shipment-details">
                <ion-col size="12">
                    <strong class="shipment-id">Shipping Address</strong>
                </ion-col>
            </ion-row>
            <div class="card-body card-contain">
                <div class="p-1">
                    <div class="justify-content-between mb-2">
                        <div class="text-secondary">Phone Number</div>
                        <div class="billing-text">
                            {{ orderDetailsData.billingAddress.phoneNo}}
                        </div>
                    </div>
                    <div class="justify-content-between mb-2">
                        <div class="text-secondary">Email Address</div>
                        <div class="billing-text">
                            {{ orderDetailsData.billingAddress.emailId }}
                        </div>
                    </div>
                    <div class="justify-content-between mb-2">
                        <div class="text-secondary">Address</div>
                        <div class="billing-text">
                            {{ orderDetailsData.billingAddress.address }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt15">
        <ion-list class="ion-no-padding p-1 shipment-bottom">
            <ion-row tappable>
                <ion-col size="12">
                    <ion-row class="shipment-details">
                        <ion-col size="12">
                            <strong class="shipment-id">Shipment ID:&nbsp;</strong>
                            <span>&nbsp;8</span>
                        </ion-col>
                    </ion-row>
                    <div class="p-1">
                        <div class="d-flex justify-content-between mb-2">
                            <div class="text-secondary">Shipping Charges</div>
                            <div class="text-secondary">
                                {{ orderDetailsData.shippingInfo.shippingMethod }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <div class="text-secondary">Tracking number</div>
                            <div class="text-secondary">
                                {{ orderDetailsData.shipmentsInfo.trackingNumber }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <div class="text-secondary">Date shipped</div>
                            <div class="text-secondary">
                                {{ orderDetailsData.shipmentsInfo.dateShipped }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <div class="text-secondary">Date delivered</div>
                            <div class="text-secondary">
                                {{ orderDetailsData.shipmentsInfo.dateDelivered }}
                            </div>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-list>
    </div>

    <div class="card mt15">
        <div class="p-2" tappable (click)="expandItem()">
            <ion-row>
                <ion-col size="11">
                    <strong class="payment-text">Shipped product(s)</strong>
                </ion-col>
                <ion-col size="1">
                    <ion-icon *ngIf="!orderItemExpanded" name="chevron-down-outline" class="expandable-icon"></ion-icon>
                    <ion-icon *ngIf="orderItemExpanded" name="chevron-up-outline" class="expandable-icon"></ion-icon>
                </ion-col>
            </ion-row>
        </div>
        <app-expandable [expanded]="orderItemExpanded" *ngFor="let product of orderDetailsData.orderItems">
            <div class="p-2 shop-cart-item-bottom shipment-bottom ">
                <div class="shop-cart-right">
                    <ion-row>
                        <ion-col>
                            <div>
                                <strong>{{ product.name }}</strong>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="7">
                            <div class="text-secondary">
                                <div>
                                    Net Quantity: 250 GM
                                </div>
                            </div>
                        </ion-col>
                        <ion-col size="5" class="ion-text-right">
                            <div>
                                2 Qty shipped
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </app-expandable>
    </div>
</ion-content>