.mt15 {
    margin-top: 15px;
}
.icon-size {
    font-size: 20px;
}
.payment-text {
    font-size: 16px;
}
.card-contain {
    padding: 0px 0px 0.5rem 0.5rem;
}
.shipment-details {
    font-size: 16px;
    ion-col {
        padding-left: 10px;
    }
    .shipment-id {
    }
}
.detail-icon {
    height: 100%;
    display: block;
    vertical-align: middle;
}
.billing-text {
    color: black;
}
.shipment-bottom {
    border-bottom: 1px solid gray;
}