<app-app-header [titleText]="'Commission Ledger'" [menuButton]="true"></app-app-header>
<ion-content color="light" class="ion-content-padding-10px">


    <div class="card mt15 mb-2" *ngFor="let commissionLedger of commissionLedgerList" (click)="commissionVoucher()">
        <ion-row>
            <ion-col size="6" class="text-left">
                <strong>Payout No #{{commissionLedger.payoutNo}}</strong>
            </ion-col>
            <ion-col size="6" class="text-right">
                <strong>{{commissionLedger.amount  | currency: appConstants.currencyCode: 'symbol': appConstants.currencyCodeValue}}</strong>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="9" class="text-left">
                <div class="text-secondary">Date</div>
                <div>{{commissionLedger.date}}</div>
            </ion-col>
            <ion-col size="3" class="text-right">
                    <ion-icon name="chevron-forward-outline" class="next-icon"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <div class="text-secondary">Remark</div>
                <div>{{commissionLedger.remark}}</div>
            </ion-col>
        </ion-row>
    </div>
</ion-content>