<div class="total-count-container">
  <div class="count-text" (click)="scrollTotop()">
    <ion-icon name="arrow-up-outline"></ion-icon>
     &nbsp;{{recordCount}}&nbsp;/&nbsp;{{totalRecordCount}}
  </div>
</div>