<app-app-header [titleText]="'My Wishlist'" [menuButton]="true"></app-app-header>
<ion-content color="light" class="ion-padding order-list-page">
    <ion-searchbar class="p-0 mb-2 " placeholder="Search wishlist" inputmode="text" type="search"></ion-searchbar>

    <div class="card order-item-card mb-2">
        <div class="d-flex align-items-center p-2">
            <div class="float-right trash-icon">
                <ion-icon name="trash-outline" color="danger" tappable (click)="delete()"></ion-icon>
            </div>
            <img alt="img" class="not-found-img" src="assets/small/7.jpg">
            <div class="overflow-hidden ml-3">
                <h6 class="font-weight-bold text-dark mb-0 text-truncate">Super Store - Ludhiana
                </h6>
                <div class="text-truncate text-primary">$233,00</div>
                <div class="small text-gray-500">
                    <ion-icon name="cart-outline" role="img" class="md hydrated" aria-label="cart outline"></ion-icon> Product ID : GURDEEEP8343743
                </div>
            </div>
        </div>
        <div class="p-3 border-top">
            <div class="d-flex justify-content-between mb-1"><small class="text-secondary">Original Payable
          amount</small><small class="text-secondary">$233,00</small></div>
            <div class="d-flex justify-content-between mb-3"><small class="text-gray">Final paid amount</small><small class="text-gray">$00,00</small>
            </div>
            <ion-button class="button-block mb-0 mx-0 ion-color ion-color-primary md button button-solid ion-activatable ion-focusable hydrated" color="primary" tabindex="0" color="primary">Add To Cart
            </ion-button>
        </div>
    </div>
    <div class="card order-item-card mb-2">
        <div class="d-flex align-items-center p-2"><img alt="img" class="not-found-img" src="assets/small/5.jpg">
            <div class="float-right trash-icon">
                <ion-icon name="trash-outline" color="danger" tappable (click)="delete()"></ion-icon>
            </div>
            <div class="overflow-hidden ml-3">
                <h6 class="font-weight-bold text-dark mb-0 text-truncate">Singh Store - Goa</h6>
                <div class="text-truncate text-primary">$533,00</div>
                <div class="small text-gray-500">
                    <ion-icon name="cart-outline" role="img" class="md hydrated" aria-label="cart outline"></ion-icon> Product ID : GURDEEEP8343743
                </div>
            </div>
        </div>
        <div class="p-3 border-top">
            <div class="d-flex justify-content-between mb-1"><small class="text-secondary">Original Payable
          amount</small><small class="text-secondary">$533,00</small></div>
            <div class="d-flex justify-content-between mb-1"><small class="text-secondary">Delivery charges</small><small class="text-secondary">$510,00</small></div>
            <div class="d-flex justify-content-between mb-3"><small class="text-gray">Final paid amount</small><small class="text-gray">$644,00</small>
            </div>
            <ion-button class="button-block mb-0 mx-0 ion-color ion-color-primary md button button-solid ion-activatable ion-focusable hydrated" color="primary" tabindex="0" color="primary">Add To Cart
            </ion-button>
        </div>
    </div>
    <div class="card order-item-card mb-2">
        <div class="d-flex align-items-center p-2"><img alt="img" class="not-found-img" src="assets/small/6.jpg">
            <div class="float-right trash-icon">
                <ion-icon name="trash-outline" color="danger" tappable (click)="delete()"></ion-icon>
            </div>
            <div class="overflow-hidden ml-3">
                <h6 class="font-weight-bold text-dark mb-0 text-truncate">Osahan Store - Puna</h6>
                <div class="text-truncate text-primary">$233,00</div>
                <div class="small text-gray-500">
                    <ion-icon name="cart-outline" role="img" class="md hydrated" aria-label="cart outline"></ion-icon> Product ID : GURDEEEP8343743
                </div>
            </div>
        </div>
        <div class="p-3 border-top">
            <div class="d-flex justify-content-between mb-1"><small class="text-secondary">Original Payable
          amount</small><small class="text-secondary">$233,00</small></div>
            <div class="d-flex justify-content-between mb-3"><small class="text-gray">Final paid amount</small><small class="text-gray">$00,00</small>
            </div>
            <ion-button class="button-block mb-0 mx-0 ion-color ion-color-primary md button button-solid ion-activatable ion-focusable hydrated" color="primary" tabindex="0" color="primary">Add To Cart
            </ion-button>
        </div>
    </div>
</ion-content>