<ion-header class="osahan-nav">
    <ion-toolbar class="in-toolbar">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Generation Tree
        </ion-title>
        <ion-buttons slot="primary" slot="end">
            <ion-button color="primary" class="top-cart" (click)="lockScreenOrientation()">
                <ion-icon [name]="isLandscap == 'L'?'phone-landscape-outline':'phone-portrait-outline'" class="options">
                </ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar no-border class="scrollable-segments  mt10">
        <ion-list>
            <ion-item>
                <img src="../assets/imgs/available_status.png"> <span>Available</span>
            </ion-item>
            <ion-item>
                <img src="../assets/imgs/paid_status.png"> <span>Paid</span>
            </ion-item>
            <ion-item>
                <img src="../assets/imgs/unpaid_status.png"> <span>Unpaid</span>
            </ion-item>
        </ion-list>
    </ion-toolbar>
    <div class="tf-tree custom-tree-view">
        <ul>
            <li>
                <span class="tf-nc">
                 <app-tree-element></app-tree-element>
                </span>
                <ul>
                    <li>
                        <span class="tf-nc">
                          <app-tree-element></app-tree-element>
                        </span>
                        <ul>
                            <li>
                                <span class="tf-nc">
                                  <app-tree-element></app-tree-element>
                                </span>
                            </li>
                            <li>
                                <span class="tf-nc">
                                  <app-tree-element></app-tree-element>
                                </span>
                            </li>
                            <li>
                                <span class="tf-nc">
                                  <app-tree-element></app-tree-element>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="tf-nc">
                          <app-tree-element></app-tree-element>
                        </span>
                        <ul>
                            <li>
                                <span class="tf-nc">
                                  <app-tree-element></app-tree-element>
                                </span>
                            </li>
                            <li>
                                <span class="tf-nc">
                                  <app-tree-element></app-tree-element>
                                </span>
                            </li>
                            <li>
                                <span class="tf-nc">
                                  <app-tree-element></app-tree-element>
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="tf-nc">
                          <app-tree-element></app-tree-element>
                        </span>
                        <ul>
                            <li>
                                <span class="tf-nc">
                                  <app-tree-element></app-tree-element>
                                </span>
                            </li>
                            <li>
                                <span class="tf-nc">
                                  <app-tree-element></app-tree-element>
                                </span>
                            </li>
                            <li>
                                <span class="tf-nc">
                                  <app-tree-element></app-tree-element>
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</ion-content>