ion-toolbar.scrollable-segments {
    .toolbar-background {
        background-color: #F2F1F7 !important;
    }
    .toolbar-content {
        height: 60px !important;
    }
    ion-list {
        display: block;
        overflow-x: scroll;
        white-space: nowrap;
        height: 75px;
        ion-item {
            display: inline-block;
            width: auto;
            margin-left: 3px;
            height: 40px !important;
            span {
                vertical-align: super;
            }
            img {
                vertical-align: bottom;
            }
        }
    }
}