.card-contain {
    padding: 0px 0px 0.5rem 0.5rem;
}
.pl10 {
    padding-left: 10px;
}
.border-bottom {
    border-bottom: 1px solid #e8e2e2;  
}
.pr5 {
    padding-right: 5px;
}
.mt15 {
    margin-top: 15px;
}
.select-reson {
    padding: 5px 0 5px 0;
    color: black;
}