<app-app-header
  [titleText]="'Order #6'"
  [backButton]="true"
></app-app-header>

<ion-content color="light" class="ion-content-padding-10px">
  <div class="card mt15 pr5">
    <div class="p-2 border-bottom">
      <span>Which Item do you want to return ?</span>
    </div>
    <div class="card-body card-contain">
      <div class="shop-cart-right border-bottom">
        <ion-row class="ion-no-padding">
          <ion-col size="6">
            <div>
              <strong>Uniactiv Protein</strong>
            </div>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-row class="ion-no-padding">
              <ion-col size="10" class="ion-text-right">
                {{ quantity }} Qty to Return
              </ion-col>
              <ion-col size="2">
                <ion-icon
                  name="chevron-down-outline"
                  tappable
                  (click)="selectQuantity()"
                ></ion-icon>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <div class="p-1">
          <div class="d-flex justify-content-between mb-2">
            <div class="text-secondary">Price</div>
            <div class="text-secondary">$1520.00</div>
          </div>
          <div class="d-flex justify-content-between mb-2">
            <div class="text-secondary">Color</div>
            <div class="text-secondary">Red</div>
          </div>
        </div>
      </div>
      <div class="shop-cart-right border-bottom">
        <ion-row class="ion-no-padding">
          <ion-col size="6">
            <div>
              <strong>Uniactiv Protein</strong>
            </div>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-row class="ion-no-padding">
              <ion-col size="10" class="ion-text-right">
                {{ quantity }} Qty to Return
              </ion-col>
              <ion-col size="2">
                <ion-icon
                  name="chevron-down-outline"
                  tappable
                  (click)="selectQuantity()"
                ></ion-icon>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <div class="p-1">
          <div class="d-flex justify-content-between mb-2">
            <div class="text-secondary">Price</div>
            <div class="text-secondary">$1520.00</div>
          </div>
          <div class="d-flex justify-content-between mb-2">
            <div class="text-secondary">Color</div>
            <div class="text-secondary">Red</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt15 pr5 p-1">
    <div class="p-2 border-bottom">
      <span>Why are you returning these items ?</span>
    </div>
    <div class="card-body card-contain p-1">
      <ion-item
        class="item-interactive item-input item-has-placeholder item ion-no-padding"
      >
        <ion-label
          position="stacked"
          class="sc-ion-label-md-h sc-ion-label-md-s"
        >
          Return Reason
        </ion-label>
        <ion-select
          [(ngModel)]="resturnReason"
          placeholder="select reason"
          interface="popover"
          mode="ios"
          required
          [interfaceOptions]="{cssClass: 'my-class'}"
        >
          <ion-select-option value="1">Receive Wrong Product</ion-select-option>
          <ion-select-option value="2">Defective Product</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <div class="p-1 text-secondary">
      <ion-item
        class="item-interactive item-input item-has-placeholder item ion-no-padding"
      >
        <ion-label
          position="stacked"
          class="sc-ion-label-md-h sc-ion-label-md-s"
        >
          Return Action
        </ion-label>
        <ion-select
          [(ngModel)]="resturnAction"
          placeholder="select action"
          interface="popover"
          mode="ios"
          required
        >
          <ion-select-option value="1">Repair</ion-select-option>
          <ion-select-option value="2">Return</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <div class="p-1 text-secondary">
      <ion-row class="ion-no-padding">
        <ion-col size="7" class="ion-no-padding">
          <div>
            upload(Any additional document, scan, etc)
          </div>
        </ion-col>
        <ion-col size="5" class="ion-no-padding ion-text-end">
          <div>
            <ion-button>Upload File</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="p-1 text-secondary">
      <ion-label position="floating">Comments</ion-label>
      <ion-textarea rows="4" placeholder="Enter Comments"></ion-textarea>
    </div>
  </div>

  <ion-item
    [hidden]="hideList"
    class="item-interactive item-input item-has-placeholder item ion-no-padding"
  >
    <ion-label position="stacked">
      Hello
    </ion-label>
    <ion-select
      interface="popover"
      [(ngModel)]="quantity"
      mode="ios"
      #QtyNumber
      required
      class="my-class"
      [interfaceOptions]="{cssClass: 'my-class'}"
    >
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
<ion-footer class="ion-no-border footer-background">
  <ion-button shape="round" expand="block" color="primary">
    Submit Return Request
  </ion-button>
</ion-footer>
