<app-app-header [titleText]="'TDS Details'" [menuButton]="true"></app-app-header>
<ion-content color="light" class="ion-content-padding-10px">
    <div class="card mt15 mb-2" *ngFor="let commissionLedger of tdsDetailsList">
        <ion-row>
            <ion-col size="6" class="text-left">
                <strong>Payout No #{{commissionLedger.payoutNo}}</strong>
            </ion-col>
            <ion-col size="6" class="text-right">
                <strong>{{commissionLedger.grossIncome  | currency: appConstants.currencyCode: 'symbol': appConstants.currencyCodeValue}}</strong>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6" class="text-left">
                <div class="text-secondary">From Date</div>
                <div>{{commissionLedger.fromDate}}</div>
            </ion-col>
            <ion-col size="6" class="text-right">
                <div class="text-secondary">To Date</div>
                <div>{{commissionLedger.toDate}}</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6" class="text-left">
                <div class="text-secondary">TDS Deducted</div>
                <div>{{commissionLedger.TDSDeducted}}</div>
            </ion-col>
            <ion-col size="6" class="text-right">
                <div class="text-secondary">TDS Precentage</div>
                <div>{{commissionLedger.TDSPercentage}}</div>
            </ion-col>
        </ion-row>
    </div>
</ion-content>