<app-app-header [titleText]="'Inbox'" [menuButton]="true" [toShowPopoverButton]="true"></app-app-header>

<ion-content style="--offset-top: 0px; --offset-bottom: 0px">
  <ion-list   lines="full">
    <ion-item *ngFor="let inbox of sentInbox"> 
      <ion-row>
        <ion-col size="8">
          <ion-label>
            <h2 [ngClass]="inbox ? 'fontbold' : 'fontgray'">{{inbox.Name}}</h2>
            <p>{{inbox.Imformation}}</p>
          </ion-label>
        </ion-col>
        <ion-col size="4">
          <p class="text-end">{{inbox.Date}}</p>
          <ion-checkbox class="inboxsentmessage" color="primary"></ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>


</ion-content>
