<app-app-header [titleText]="'Shopping Cart'" [backButton]="showBackButton" [menuButton]="showMenuButton"></app-app-header>

<ion-content color="light" class="ion-padding shop-cart-page">
    <div class="card mb-2">
        <div class="p-3">
            <div class="d-flex justify-content-between mb-2">
                <div class="text-secondary">M.R.P.</div>
                <div class="text-secondary">$233,00</div>
            </div>
            <div class="d-flex justify-content-between mb-2">
                <div class="text-secondary">Products Discount</div>
                <div class="text-success">-$40,00</div>
            </div>
            <!-- <div class="d-flex justify-content-between mb-2">
                <div class="text-info">
                    <ion-icon name="cash-outline" ng-reflect-name="cash-outline" role="img" class="md hydrated" aria-label="cash outline"></ion-icon> Club Member Savings
                </div>
                <div class="text-secondary">Not a member</div>
            </div> -->
            <div class="d-flex justify-content-between">
                <div class="text-secondary"> Delivery Charges
                    <div class="float-right delivery-charges-help" (click)="helpPopup()">
                        <ion-icon class="text-danger" name="help-circle-outline"></ion-icon>
                    </div>
                </div>
                <div class="text-danger">+$90,00</div>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center py-3 px-3 border-top text-dark">
            <h6 class="font-weight-bold m-0">Sub Total</h6>
            <h6 class="font-weight-bold m-0">$433,00</h6>
        </div>
    </div>
    <div class="card mb-2">
        <div class="d-flex p-3 shop-cart-item-bottom border-bottom" *ngFor="let cartItem of cartData" tappable (click)="productDetails(cartItem)">
            <div class="shop-cart-left"><img alt="img" class="not-found-img" [src]="cartItem.imageUrl"></div>
            <div class="shop-cart-right">
                <h6 class="font-weight-bold text-dark">{{cartItem.name}}</h6>
                <h6 class="text-dark mb-2">${{ cartItem.price }}
                    <span class="old-price regular-price text-secondary font-weight-normal">${{ cartItem.oldPrice }}</span>
                    <div class="float-right">
                        <ion-icon name="trash-outline" color="danger" tappable (click)="delete($event)"></ion-icon>
                    </div>
                </h6>
                <!-- <div class="mb-2">{{ cartItem.description }}</div> -->
                <div class="small text-gray-500 d-flex align-items-center justify-content-between"><small class="text-secondary">30 Capsules</small>
                    <div class="input-group shop-cart-value"><span class="input-group-btn"><button class="btn btn-sm"
                disabled="disabled" type="button">-</button></span><input class="form-control border-form-control form-control-sm input-number" max="10" min="1" name="quant[1]" type="text" value="1"><span class="input-group-btn"><button class="btn btn-sm"
                type="button">+</button></span></div>
                </div>
            </div>
        </div>
        <!-- <div class="d-flex p-3 shop-cart-item-bottom border-bottom" tabindex="0" tappable (click)="productDetails()">
            <div class="shop-cart-left"><img alt="img" class="not-found-img" src="assets/small/6.jpg"></div>
            <div class="shop-cart-right">
                <h6 class="font-weight-bold text-dark mb-2 price"> $456.99 <span class="regular-price text-secondary font-weight-normal">$787.99</span>
                    <ion-badge color="success" ng-reflect-color="success" class="ion-color ion-color-success md hydrated">5% OFF
                    </ion-badge>
                    <div class="float-right" ><ion-icon name="trash-outline" color="danger"></ion-icon></div>
                </h6>
                <div class="mb-2">Hygienix Anti-Bacterial Hand Sanitizer (Bottle) </div>
                <div class="small text-gray-500 d-flex align-items-center justify-content-between"><small class="text-secondary">300 ml</small>
                    <div class="input-group shop-cart-value"><span class="input-group-btn"><button class="btn btn-sm"
                disabled="disabled" type="button">-</button></span><input class="form-control border-form-control form-control-sm input-number" max="10" min="1" name="quant[1]" type="text" value="1"><span class="input-group-btn"><button class="btn btn-sm"
                type="button">+</button></span></div>
                </div>
            </div>
        </div>
        <div class="d-flex p-3 shop-cart-item-bottom border-bottom" tabindex="0" tappable (click)="productDetails()">
            <div class="shop-cart-left"><img alt="img" class="not-found-img" src="assets/small/11.jpg"></div>
            <div class="shop-cart-right">
                <h6 class="font-weight-bold text-dark mb-2 price">$600.99 <span class="regular-price text-secondary font-weight-normal">$800.99</span>
                    <div class="float-right" ><ion-icon name="trash-outline" color="danger"></ion-icon></div>
                </h6>
                <div class="mb-2">Surf Excel Matic Top Load Detergent Powder (Carton) </div>
                <div class="small text-gray-500 d-flex align-items-center justify-content-between"><small class="text-secondary">2 Kg</small>
                    <div class="input-group shop-cart-value"><span class="input-group-btn"><button class="btn btn-sm"
                disabled="disabled" type="button">-</button></span><input class="form-control border-form-control form-control-sm input-number" max="10" min="1" name="quant[1]" type="text" value="1"><span class="input-group-btn"><button class="btn btn-sm"
                type="button">+</button></span></div>
                </div>
            </div>
        </div>
        <div class="d-flex p-3 shop-cart-item " tabindex="0" tappable (click)="productDetails()">
            <div class="shop-cart-left"><img alt="img" class="not-found-img" src="assets/small/2.jpg"></div>
            <div class="shop-cart-right">
                <h6 class="font-weight-bold text-dark mb-2 price"> $456.99 <span class="regular-price text-secondary font-weight-normal">$787.99</span>
                    <ion-badge color="success" ng-reflect-color="success" class="ion-color ion-color-success md hydrated">5% OFF
                    </ion-badge>
                    <div class="float-right" ><ion-icon name="trash-outline" color="danger"></ion-icon></div>
                </h6>
                <div class="mb-2">Hygienix Anti-Bacterial Hand Sanitizer (Bottle) </div>
                <div class="small text-gray-500 d-flex align-items-center justify-content-between"><small class="text-secondary">300 ml</small>
                    <div class="input-group shop-cart-value"><span class="input-group-btn"><button class="btn btn-sm"
                disabled="disabled" type="button">-</button></span><input class="form-control border-form-control form-control-sm input-number" max="10" min="1" name="quant[1]" type="text" value="1"><span class="input-group-btn"><button class="btn btn-sm"
                type="button">+</button></span></div>
                </div>
            </div>
        </div> -->
    </div>
</ion-content>
<ion-footer class="border-0 md footer-md hydrated" role="contentinfo">
    <button class="btn btn-primary btn-lg fix-btn btn-block text-left" type="button" tabindex="0" (click)="verifyMobile()"><span class="float-left">
      <ion-icon name="cart-outline" ng-reflect-name="cart-outline" role="img" class="md hydrated"
        aria-label="cart outline"></ion-icon> Proceed to Checkout
    </span>
    <span class="float-right"><strong>$1200.69</strong>
      <ion-icon name="arrow-forward-outline" ng-reflect-name="arrow-forward-outline" role="img" class="md hydrated"
        aria-label="arrow forward outline"></ion-icon>
    </span></button></ion-footer>