<app-app-header [titleText]="'My Address'" [menuButton]="true" [toShowAddButton]="true"></app-app-header>
<ion-content class="ion-padding my-address-page" color="light">
  <div class="addresses-item mb-2 card border-primary">
    <div class="gold-members p-3">
      <div class="media">
        <div class="mr-3">
          <ion-icon name="home-outline" size="large"></ion-icon>
        </div>
        <div class="media-body">
          <h5 class="mb-2 text-dark font-weight-bold">Home</h5>
          <p class="text-secondary">
            Osahan House, Jawaddi Kalan, Ludhiana, Punjab 141002, India
          </p>
          <p class="mb-0 small">
            <a class="text-primary mr-3" tappable (click)="editAddress()">
              <ion-icon name="create-outline"></ion-icon>
              EDIT
            </a>
            <!-- <a class="text-danger">
              <ion-icon name="trash-outline"></ion-icon>
              DELETE
            </a> -->
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="addresses-item mb-2 card border-primary">
    <div class="gold-members p-3">
      <div class="media">
        <div class="mr-3">
          <ion-icon name="briefcase-outline" size="large"></ion-icon>
        </div>
        <div class="media-body">
          <h5 class="mb-2 text-dark font-weight-bold">Work</h5>
          <p class="text-secondary">
            NCC, Model Town Rd, Pritm Nagar, Model Town, Ludhiana, Punjab 141002, India
          </p>
          <p class="mb-0 small">
            <a class="text-primary mr-3" tappable (click)="editAddress()">
              <ion-icon name="create-outline"></ion-icon>
              EDIT
            </a>
            <!-- <a class="text-danger">
              <ion-icon name="trash-outline"></ion-icon>
              DELETE
            </a> -->
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="addresses-item mb-2 card border-primary">
    <div class="gold-members p-3">
      <div class="media">
        <div class="mr-3">
          <ion-icon name="navigate-outline" size="large"></ion-icon>
        </div>
        <div class="media-body">
          <h5 class="mb-2 text-dark font-weight-bold">Other</h5>
          <p class="text-secondary">
            GTTT, Model Town Rd, Pritm Nagar, Model Town, Ludhiana, Punjab 141002, India
          </p>
          <p class="mb-0 small">
            <a class="text-primary mr-3" tappable (click)="editAddress()">
              <ion-icon name="create-outline"></ion-icon>
              EDIT
            </a>
            <!-- <a class="text-danger">
              <ion-icon name="trash-outline"></ion-icon>
              DELETE
            </a> -->
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>