<app-app-header [titleText]="'Change Password'" [menuButton]="true"></app-app-header>
<ion-content color="light" class="ion-padding" style="--offset-top: 0px; --offset-bottom: 0px">
    <div class="card mb-2">
        <ion-list class="ion-no-margin ion-no-padding" lines="full">
            <ion-item class="item-interactive item-input item-has-placeholder item">
                <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">
                    Old password
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="text" placeholder="Old passsword" class="sc-ion-input-md-h sc-ion-input-md-s">
                </ion-input>
            </ion-item>
            <!-- <ion-text color="danger" *ngIf="isValidUserName" class="has-error">Enter User ID</ion-text> -->
            <ion-item class="item-interactive item-input item-has-placeholder item">
                <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">
                    New password
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="text" placeholder="New password" class="sc-ion-input-md-h sc-ion-input-md-s">
                </ion-input>
            </ion-item>
            <!-- <ion-text color="danger" *ngIf="isValidUserName" class="has-error">Enter User ID</ion-text> -->
            <ion-item class="item-interactive item-input item-has-placeholder item">
                <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">
                    Confirm password
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="text" placeholder="Confirm password" class="sc-ion-input-md-h sc-ion-input-md-s">
                </ion-input>
            </ion-item>
            <!-- <ion-text color="danger" *ngIf="isValidUserName" class="has-error">Enter User ID</ion-text> -->
        </ion-list>
        <div class="mb-2"></div>
    </div>
    <ion-button class="ion-no-margin" shape="round" expand="block">
        Change Password
    </ion-button>
</ion-content>