<app-app-header [titleText]="'My Wallet'" [menuButton]="true"></app-app-header>
<ion-content color="light" style="--offset-top:0px; --offset-bottom:0px;">
    <div class="mywallet text-center">
        <ion-icon name="wallet" slot="icon-only"></ion-icon>
        <p>Total Balance</p>
        <h1>$24,000</h1>
        <ion-button class="m-3">
            Add Money
        </ion-button>
    </div>
    <ion-card class="about-card ion-padding p-0">
        <div class="border-bottom d-flex align-items-center p-3">
            <p class="m-0">Payment to xyz Shop</p>
            <p class="ml-auto mb-0 text-success font-weight-bold">+$800</p>
        </div>
        <div class="border-bottom d-flex align-items-center p-3">
            <p class="m-0">Payment to xyz Shop</p>
            <p class="ml-auto mb-0 text-danger font-weight-bold">-$625</p>
        </div>
        <div class="border-bottom d-flex align-items-center p-3">
            <p class="m-0">Payment to xyz Shop</p>
            <p class="ml-auto mb-0 text-success font-weight-bold">+$500</p>
        </div>
        <div class="border-bottom d-flex align-items-center p-3">
            <p class="m-0">Payment to xyz Shop</p>
            <p class="ml-auto mb-0 text-danger font-weight-bold">-$45</p>
        </div>
        <div class="border-bottom d-flex align-items-center p-3">
            <p class="m-0">Payment to xyz Shop</p>
            <p class="ml-auto mb-0 text-danger font-weight-bold">-$678</p>
        </div>
        <div class="border-bottom d-flex align-items-center p-3">
            <p class="m-0">Payment to xyz Shop</p>
            <p class="ml-auto mb-0 text-success font-weight-bold">+$600</p>
        </div>
    </ion-card>
</ion-content>