.mywallet {
    background: #003049;
    color: #fff;
    padding: 40px 0 80px 0;
    ion-icon{
        font-size: 102px;
    }
    p{
        font-size: 16px;
        margin: 0px;
    }
    h1{
        font-weight: bold;
    }
}
.about-card {
    margin-top: -55px;
}