<app-app-header [titleText]="'New Ticket'" [menuButton]="true"></app-app-header>
<ion-content color="light" class="ion-padding" style="--offset-top: 0px; --offset-bottom: 0px">
  <div class="card mb-2">
    <ion-list class="ion-no-margin ion-no-padding" lines="full">
      <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">Select department</ion-label>
        <ion-select [(ngModel)]="department">
          <ion-select-option value="DataWise">Admin department</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">
          Full name
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" placeholder="Enter full name" class="sc-ion-input-md-h sc-ion-input-md-s">
        </ion-input>
      </ion-item>
      <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">
          Enter Subject
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" placeholder="Enter Subject" class="sc-ion-input-md-h sc-ion-input-md-s">
        </ion-input>
      </ion-item>
      <!-- <ion-text color="danger" *ngIf="isValidUserName" class="has-error">Enter User ID</ion-text> -->
      <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">
          Enquiry
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-textarea type="text" rows="4" placeholder="Enter enquiry" class="sc-ion-input-md-h sc-ion-input-md-s">
        </ion-textarea>
      </ion-item>
      <div class="mb-2"></div>
      <!-- <ion-text color="danger" *ngIf="isValidUserName" class="has-error">Enter User ID</ion-text> -->
    </ion-list>
  </div>
  <ion-button shape="round" expand="block" color="primary">
    Send
  </ion-button>
</ion-content>
<!-- <ion-footer class="ion-no-border footer-background">
  <ion-button shape="round" expand="block" color="primary">
    Send
  </ion-button>
</ion-footer> -->