<div (click)="memberTreeView()" class="member-tree-info text-center">
    <img class="" src="../assets/imgs/paid_status.png"><br/>
    <strong>Naziya Kazi</strong>
    <ion-icon tappable (click)="viewMemberInfo($event)" name="information-circle-outline"></ion-icon><br/>
    <div>145878788</div>
</div>