img {
    border-radius: 50%;
    border: 1px solid #333;
    padding: 2px;
}

span,
strong,
div {
    font-size: 0.7rem;
    line-height: 1;
}

ion-icon {
    vertical-align: middle;
    font-size: 1.1rem;
    margin-left: 3px;
    color: red;
}

.member-tree-info {
    white-space: nowrap;
}