.my-custom-class .modal-wrapper {
    background: #222;
    height: 200px;
    width: 80%;
  }
  ion-content {
    border-radius: 50px;
    ion-button {
        right: 0;
        position: absolute;
    }
  }