.not-found-img {
    width: 60px;
    height: 60px;
    border: 1px solid #f4f5f8;
    border-radius: 3px;
}
.icon-transform {
    transform: scaleX(-1);
}
.btn-icon {
    font-size: 10px;
    margin-left: 5px;
}
.border-right {
    border-right: 1px solid #e8e2e2;
}