<app-app-header
  [titleText]="'Order Lists'"
  [menuButton]="true"
></app-app-header>

<ion-content color="light" class="ion-padding order-list-page">
  <ion-searchbar
    class="p-0 mb-2"
    placeholder="Search Order"
    inputmode="text"
    type="search"
  ></ion-searchbar>

  <div class="text-center mb-2"><small>Placed on Fri, 22 Jun 2020</small></div>
  <div class="card order-item-card mb-2">
    <div class="align-items-center p-3">
      <!-- <img alt="img" class="not-found-img" src="assets/small/1.jpg"> -->
      <div class="overflow-hidden">
        <h6 class="font-weight-bold text-dark mb-0 text-truncate">
          <!-- <ion-icon name="cart-outline"></ion-icon> -->
          Order#: 43743
          <span class="float-right">$233.00</span>
        </h6>
        <!-- <div class="float-right text-truncate text-primary">$233.00</div> -->
        <div class="text-truncate text-primary">
          8:05 AM
        </div>
        <!-- <div class="small text-gray-500">
                    <ion-icon name="cart-outline" role="img" aria-label="cart outline"></ion-icon>
                    Order ID : GURDEEEP8343743
                </div> -->
      </div>
    </div>
    <div
      class="d-flex align-items-center border-top border-bottom text-danger py-2 px-3"
    >
      Order Cancelled
      <ion-icon
        class="ml-auto md hydrated"
        name="close-circle-outline"
        role="img"
        aria-label="close circle outline"
      ></ion-icon>
    </div>
    <div class="p-3">
      <div class="d-flex justify-content-between mb-1">
        <small class="text-secondary">Original Payable amount</small>
        <small class="text-secondary">$233.00</small>
      </div>
      <div class="d-flex justify-content-between">
        <small class="text-gray">Final paid amount</small>
        <small class="text-gray">$00.00</small>
      </div>
    </div>
    <div class="align-items-center border-bottom">
      <ion-row class="ion-no-padding ion-text-center border-top">
        <ion-col
          size="6"
          class="float-center ion-activatable ripple-parent"
          tappable
          (click)="orderReturn()"
        >
          <ion-ripple-effect></ion-ripple-effect>
          <strong>
            RETURN
          </strong>
          <ion-icon
            name="reload-outline"
            class="icon-transform btn-icon"
          ></ion-icon>
        </ion-col>
        <ion-col
          size="6"
          class="float-center border-right ion-activatable ripple-parent"
          tappable
          (click)="orderDetails()"
        >
          <ion-ripple-effect></ion-ripple-effect>
          <strong>VIEW DETAILS</strong>
          <ion-icon name="chevron-forward-outline" class="btn-icon"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="card order-item-card mb-2">
    <div class="align-items-center p-3">
      <!-- <img alt="img" class="not-found-img" src="assets/small/10.jpg"> -->
      <div class="overflow-hidden ml-2">
        <h6 class="font-weight-bold text-dark mb-0 text-truncate">
          ID : 3743
          <span class="float-right">$233.00</span>
        </h6>
        <div class="text-truncate text-primary">
          9:25 AM
        </div>
        <!-- <div class="text-truncate text-primary">$533.00</div> -->
        <!-- <div class="small text-gray-500">
                    <ion-icon name="cart-outline" role="img" aria-label="cart outline"></ion-icon>
                    Order ID : GURDEEEP8343743
                </div> -->
      </div>
    </div>
    <div
      class="d-flex align-items-center py-2 px-3 border-top border-bottom text-success"
    >
      Order successfully
      <ion-icon
        class="ml-auto md hydrated"
        name="checkmark-circle-outline"
      ></ion-icon>
    </div>
    <div class="p-3">
      <div class="d-flex justify-content-between mb-1">
        <small class="text-secondary">Original Payable amount</small>
        <small class="text-secondary">$533.00</small>
      </div>
      <div class="d-flex justify-content-between mb-1">
        <small class="text-secondary">Delivery charges</small>
        <small class="text-secondary">$510.00</small>
      </div>
      <div class="d-flex justify-content-between">
        <small class="text-gray">Final paid amount</small>
        <small class="text-gray">$644.00</small>
      </div>
    </div>
    <div class="align-items-center border-bottom">
      <ion-row class="ion-no-padding ion-text-center border-top">
        <ion-col
          size="6"
          class="float-center ion-activatable ripple-parent"
          tappable
          (click)="orderReturn()"
        >
          <ion-ripple-effect></ion-ripple-effect>
          <strong>
            RETURN
          </strong>
          <ion-icon
            name="reload-outline"
            class="icon-transform btn-icon"
          ></ion-icon>
        </ion-col>
        <ion-col
          size="6"
          class="float-center border-right ion-activatable ripple-parent"
          tappable
          (click)="orderDetails()"
        >
          <ion-ripple-effect></ion-ripple-effect>
          <strong>VIEW DETAILS</strong>
          <ion-icon name="chevron-forward-outline" class="btn-icon"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="card order-item-card mb-2">
    <div class="align-items-center p-3">
      <!-- <img alt="img" class="not-found-img" src="assets/small/3.jpg"> -->
      <div class="overflow-hidden ml-2">
        <h6 class="font-weight-bold text-dark mb-0 text-truncate">
          ID : 3743
          <span class="float-right">$233.00</span>
        </h6>
        <div class="text-truncate text-primary">
          10:10 AM
        </div>
        <!-- <div class="text-truncate text-primary">$233.00</div> -->
        <!-- <div class="small text-gray-500">
                    <ion-icon name="cart-outline" role="img" aria-label="cart outline"></ion-icon>
                    Order ID : GURDEEEP8343743
                </div> -->
      </div>
    </div>
    <div
      class="d-flex align-items-center py-2 px-3 border-top border-bottom text-danger"
    >
      Order Cancelled
      <ion-icon
        class="ml-auto md hydrated"
        name="close-circle-outline"
        role="img"
        aria-label="close circle outline"
      ></ion-icon>
    </div>
    <div class="p-3">
      <div class="d-flex justify-content-between mb-1">
        <small class="text-secondary">Original Payable amount</small>
        <small class="text-secondary">$233.00</small>
      </div>
      <div class="d-flex justify-content-between">
        <small class="text-gray">Final paid amount</small>
        <small class="text-gray">$00.00</small>
      </div>
    </div>
    <div class="align-items-center border-bottom">
      <ion-row class="ion-no-padding ion-text-center border-top">
        <ion-col
          size="6"
          class="float-center ion-activatable ripple-parent"
          tappable
          (click)="orderReturn()"
        >
          <ion-ripple-effect></ion-ripple-effect>
          <strong>
            RETURN
          </strong>
          <ion-icon
            name="reload-outline"
            class="icon-transform btn-icon"
          ></ion-icon>
        </ion-col>
        <ion-col
          size="6"
          class="float-center border-right ion-activatable ripple-parent"
          tappable
          (click)="orderReturn()"
        >
          <ion-ripple-effect></ion-ripple-effect>
          <strong>VIEW DETAILS</strong>
          <ion-icon name="chevron-forward-outline" class="btn-icon"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
