<app-app-header titleText="Downloadable Document List" [menuButton]="true"></app-app-header>

<ion-content color="light">
  <ion-card class="download-report-card" *ngFor="let report of downloadableDocuments">
    <ion-row class="text-black-100">
      <ion-col size="2" class="left-container">
        <ion-row class="member-status-image-row">
          <ion-col size="12" class="member-status-image-col">
            <img *ngIf="getFileExtension(report.FileName) === 'txt'"
              src="../assets/imgs/download_files_icons/other.png" />
            <img *ngIf="getFileExtension(report.FileName) === 'docx'"
              src="../assets/imgs/download_files_icons/word.png" />
            <img *ngIf="getFileExtension(report.FileName) === 'pdf'"
              src="../assets/imgs/download_files_icons/pdf.png" />
            <img *ngIf="getFileExtension(report.FileName) === 'ppt'"
              src="../assets/imgs/download_files_icons/ppt.png" />
            <img *ngIf="getFileExtension(report.FileName) === 'doc'"
              src="../assets/imgs/download_files_icons/word.png" />
            <img *ngIf="getFileExtension(report.FileName) === 'png'"
              src="../assets/imgs/download_files_icons/image.png" />
            <img *ngIf="getFileExtension(report.FileName) === 'xls'"
              src="../assets/imgs/download_files_icons/excel.png" />
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="10" class="f-12 right-container">
        <ion-row>
          <ion-col size="12" class="ion-no-padding font-weight-bolder">
            {{report.DocumentName}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-no-padding text-right">
            <span class="label-text">
              <ion-icon name="cloud-download-outline"></ion-icon>
            </span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>