<app-app-header
  [titleText]="'Product Search'"
  [backButton]="true"
  [toShowCartButton]="true">

</app-app-header>
<ion-content
  color="light"
  class="ion-padding order-list-page ion-color ion-color-light"
>
  <ion-searchbar
    class="p-0 mb-2"
    placeholder="Search"
    inputmode="text"
    type="search"
    (ionChange)="ionChange($event)">

  </ion-searchbar>
  

  <!-- <div class="text-center mb-2">
        <small> Placed on Fri, 22 Jun, 8 PM - 11 PM </small>
    </div> -->
    
  <!-- <img class="rounded shadow-sm mb-2" src="assets/shop.jpg" /> -->
  <div
    class="d-flex p-3 shop-cart-item bg-white mb-2"
    *ngFor="let product of products"
    (click)="productDetails(product)">

    <div class="shop-cart-left">
      <img
        class="not-found-img"
        [src]="product.img"
        onerror="this.onerror=null;this.src='../../../assets/imgs/default-product.png';"
      />
    </div>
    <div class="shop-cart-right">

      <h6 class="font-weight-bold text-dark mb-2 price" >{{product.name}}</h6>

      <h6 class="font-weight-normal text-dark mb-2 price">
        {{ product.dPrice | currency : 'INR' }}
        <span
          class="regular-price text-secondary font-weight-normal strick-out"
        >
          {{ product.price | currency : 'INR' }}
        </span>
      </h6>
      <ion-button
        [disabled]="product.addToCartInProgress"
        class="add-to-cart-btn"
        (click)="addToCart($event, product)"
      >
        <ion-icon
          slot="start"
          name="cart-outline"
          *ngIf="!product.addToCartInProgress"
        ></ion-icon>
        <!-- <img src="../../../assets/imgs/addtocart.png" /> -->
        <ion-note *ngIf="!product.addToCartInProgress">Add to cart</ion-note>
        <app-button-spinner
          *ngIf="product.addToCartInProgress"
        ></app-button-spinner>
      </ion-button>
      <!-- <div class="mb-2" [innerHTML]="product.product_description"></div> -->
    </div>
  </div>

</ion-content>
