.right-tree-view-icon {
    height: 100px;
    vertical-align: middle;
    display: table-cell;
}

.downline-summery-card {
    background: url(../../../assets/gray-white-abstract.jpg);
    background-size: contain;
    color: #333;
}