<app-app-header
  [titleText]="'Product Details'"
  [backButton]="true"
  [toShowCartButton]="true"
></app-app-header>
<ion-content *ngIf="data" class="single-page" color="light">
  <ion-slides pager="true">
    <ion-slide>
      <img class="single-img" [src]="productDetails.img" />
    </ion-slide>
    <!-- <ion-slide>
            <img class="single-img" src="https://unikart.unilinkbiz.com/content/images/thumbs/0000377_nutrimark-uniaktiv-trendz.png">
        </ion-slide>
        <ion-slide>
            <img class="single-img" src="https://unikart.unilinkbiz.com/content/images/thumbs/0000377_nutrimark-uniaktiv-trendz.png">
        </ion-slide> -->
  </ion-slides>
  <div class="p-3">
    <div class="mb-2 card p-3 single-page-info">
      <div>
        <div class="single-page-shop">
          <h5 class="mb-1">{{ productDetails.name }}</h5>
          <small class="text-secondary">
            <strong>
              <ion-icon name="checkmark-circle-outline"> </ion-icon>
              Brand
            </strong>
            - {{productDetails.brand_name}}
          </small>
          <h6 class="font-weight-bold text-dark mb-3 mt-2">
            {{ productDetails.dPrice | currency: 'INR'}}
            <span class="regular-price text-secondary font-weight-normal">
              {{ productDetails.oldPrice | currency: 'INR'}}
            </span>
            <ion-badge color="success">5% OFF</ion-badge>
          </h6>
          <div
            class="small text-gray-500 d-flex align-items-center justify-content-between"
          >
            <div class="text-success">
              <ion-icon name="star-outline"></ion-icon>
              4.4
            </div>
            <!-- <div class="input-group shop-cart-value">
                            <span class="input-group-btn">
                                <button class="btn btn-sm" type="button">-</button>
                            </span>
                            <input class="form-control border-form-control form-control-sm input-number" max="10" min="1" value="1">
                            <span class="input-group-btn">
                                <button class="btn btn-sm" type="button">+</button>
                            </span>
                        </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="mb-2 card p-3 single-page-info">
      <div class="short-description">
        <small class="float-right">
          Availability:
          <span class="badge badge-success">In Stock</span>
        </small>
        <h6 class="font-weight-bold mb-3">Quick Overview</h6>
        <!-- <p class="text-secondary">
                    <b>{{ productDetails.description }}</b>
                </p> -->
        <p
          class="mb-0 text-secondary"
          class="full-description"
          [innerHtml]="productDetails.product_description"
        ></p>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="data" class="border-0">
  <button
    type="button"
    class="btn btn-primary btn-lg btn-block fix-btn text-left"
    (click)="addToCart()"
    [disabled]="addToCartInProgress"
  >
    <span class="float-left" *ngIf="!addToCartInProgress">
      <ion-icon name="cart-outline"><ion-footer *ngIf="!data" class="border-0">
        <button
          type="button"
          class="btn btn-primary btn-lg btn-block fix-btn text-left"
          (click)="addToCart()"
          [disabled]="addToCartInProgress"
        >
          <span class="float-left" *ngIf="!addToCartInProgress">
            <ion-icon name="cart-outline"> </ion-icon>
            Add to cart
          </span>
          <app-button-spinner *ngIf="addToCartInProgress"></app-button-spinner>
          <span class="float-right">
            <strong><ion-skeleton-text animated></ion-skeleton-text></strong>
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </span>
        </button>
      </ion-footer> </ion-icon>
      Add to cart
    </span>
    <app-button-spinner *ngIf="addToCartInProgress"></app-button-spinner>
    <span class="float-right">
      <strong>{{ productDetails.dPrice | currency: 'INR'}}</strong>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </span>
  </button>
</ion-footer>










<ion-content *ngIf="!data" class="single-page" color="light">
  <ion-slides pager="true">
    <ion-slide>
      <ion-thumbnail style="width: 300px;
      height: 300px;
      margin-top: 3%;">
        <ion-skeleton-text class="single-img" animated></ion-skeleton-text>
      </ion-thumbnail>
    </ion-slide>
  </ion-slides>
  <div class="p-3">
    <div class="mb-2 card p-3 single-page-info">
      <div>
        <div class="single-page-shop">
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
        </div>
      </div>
    </div>
    <div class="mb-2 card p-3 single-page-info">
      <div class="short-description">
        <small class="float-right">
          <ion-skeleton-text animated></ion-skeleton-text>
        </small>
        <h6 class="font-weight-bold mb-3">Quick Overview</h6>
        <p
          class="mb-0 text-secondary"
          class="full-description"
          
        ><ion-skeleton-text style="height: 120px;" animated></ion-skeleton-text></p>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="!data" class="border-0">
  <button
    type="button"
    class="btn btn-primary btn-lg btn-block fix-btn text-left"
    (click)="addToCart()"
    [disabled]="addToCartInProgress"
  >
    <span class="float-left" *ngIf="!addToCartInProgress">
      <ion-icon name="cart-outline"> </ion-icon>
      Add to cart
    </span>
    <app-button-spinner *ngIf="addToCartInProgress"></app-button-spinner>
    <span class="float-right">
      <strong><ion-skeleton-text animated></ion-skeleton-text></strong>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </span>
  </button>
</ion-footer>
