<app-app-header [titleText]="'Write your Own Review'" [menuButton]="true"></app-app-header>
<ion-content color="light" class="ion-padding" style="--offset-top: 0px; --offset-bottom: 0px">
    <div class="card mb-2">
        <ion-list class="ion-no-margin ion-no-padding mb-2" lines="full">
            <ion-item class="item-interactive item-input item-has-placeholder item">
                <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">
                    Review title
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="text" placeholder="Enter review title" class="sc-ion-input-md-h sc-ion-input-md-s">
                </ion-input>
            </ion-item>
            <!-- <ion-text color="danger" *ngIf="isValidUserName" class="has-error">Enter User ID</ion-text> -->
            <ion-item class="item-interactive item-input item-has-placeholder item">
                <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">
                    Review Text
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-textarea type="text" rows="4" placeholder="Enter review text" class="sc-ion-input-md-h sc-ion-input-md-s">
                </ion-textarea>
            </ion-item>
            <div class="ml-3  pt-2 mb-0">
                <ion-label position="stacked">
                    Rating
                    <ion-text color="danger">*</ion-text>
                </ion-label>
            </div>
            <div class="rating ml-3 mb-0 p-0">
                <span tappable (click)="yourRating(1)" class="star-icon" [ngClass]="{full: form.rating >= 1}">&#x2605;</span>
                <span tappable (click)="yourRating(2)" class="star-icon" [ngClass]="{full: form.rating >= 2}">&#x2605;</span>
                <span tappable (click)="yourRating(3)" class="star-icon" [ngClass]="{full: form.rating >= 3}">&#x2605;</span>
                <span tappable (click)="yourRating(4)" class="star-icon" [ngClass]="{full: form.rating >= 4}">&#x2605;</span>
                <span tappable (click)="yourRating(5)" class="star-icon" [ngClass]="{full: form.rating >= 5}">&#x2605;</span>
            </div>
        </ion-list>
    </div>
    <ion-button shape="round" expand="block" color="primary">
        Submit review
    </ion-button>
</ion-content>