.rating {
    .star-icon {
        color: #ddd;
        font-size: 40px;
        position: relative;
        text-shadow: 2px 2px 2px #a4a4a4;
    }
    .star-icon.full:before {
        color: #f3c815;
        content: '\2605';
        position: absolute;
        left: 0;
        
    }
    .star-icon.half:before {
        color: #f3c815;
        content: '\2605';
        position: absolute;
        left: 0;
        width: 50%;
        overflow: hidden;
    }
}