<app-app-header [titleText]="'Delivery Address'" [backButton]="true"></app-app-header>

<ion-content color="light" class="ion-padding">
    <div class="card">
        <form>
            <ion-list class="ion-no-margin ion-no-padding" lines="full">
                <ion-item>
                    <ion-label position="stacked"> Name
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input placeholder="Enter Name" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked"> Flat/House/Office No.
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input placeholder="Enter Flat/House/Office.." type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked"> Street/Society/Office Name
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input placeholder="Enter Street/Society/Office..." type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked"> Locality
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input placeholder="Enter Locality" type="text"></ion-input>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-radio-group value="anchovies">
                    <ion-list-header>
                        <ion-label>Nickname of your address</ion-label>
                    </ion-list-header>
                    <ion-item>
                        <ion-label>Home</ion-label>
                        <ion-radio color="primary" slot="end" value="Home"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label id="ion-rb-10-lbl">Office</ion-label>
                        <ion-radio color="primary" slot="end" value="Office"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label id="ion-rb-11-lbl">Others</ion-label>
                        <ion-radio color="primary" slot="end" value="Others"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
            <div class="ion-padding">
                <ion-button class="ion-no-margin" expand="block" type="submit" tabindex="0" (click)="payment()">SAVE
                </ion-button>
            </div>
        </form>
    </div>
</ion-content>