<app-app-header [titleText]="'DB Income Details'" [menuButton]="true"></app-app-header>
<ion-content color="light" class="ion-content-padding-10px">
  <div class="card mt15 mb-2" *ngFor="let report of dBIncomeDetailsReport">
    <ion-row>
      <ion-col size="12" class="text-left">
        <!-- <div class="text-secondary">Name</div> -->
        <div><strong>{{report.name}}</strong></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="text-left">
        <div class="text-secondary">ID</div>
        <div>{{report.id}}</div>
      </ion-col>
      <ion-col size="6" class="text-right">
        <div class="text-secondary">Level NUmber</div>
        <div>{{report.levelNumber}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="text-left">
        <div class="text-secondary">Group BV</div>
        <div>{{report.groupBV}}</div>
      </ion-col>
      <ion-col size="6" class="text-right">
        <div class="text-secondary">Points</div>
        <div>{{report.points}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="text-left">
        <div class="text-secondary">Point value</div>
        <div>{{report.pointValue}}</div>
      </ion-col>
      <ion-col size="6" class="text-right">
        <div class="text-secondary">Total Income</div>
        <div>{{report.totalIncome}}</div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer class="ion-no-border footer-background">
  <ion-row>
    <ion-col size="6" class="text-left">
      <div class="text-secondary"><strong>DB Income</strong></div>
    </ion-col>
    <ion-col size="6" class="text-right">
      <div class="text-secondary"><strong>{{124.25  | currency: appConstants.currencyCode: 'symbol': appConstants.currencyCodeValue}}</strong></div>
    </ion-col>
  </ion-row>
</ion-footer>