<app-app-header [titleText]="'Forgot Password'" [menuButton]="true"></app-app-header>

<ion-content color="light" class="ion-padding" style="--offset-top: 0px; --offset-bottom: 0px">
    <div class="card mb-2">
        <ion-list class="ion-no-margin ion-no-padding" lines="full">
            <ion-item class="item-interactive item-input item-has-placeholder item">
                <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">
                    User ID
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="text" placeholder="User ID" class="sc-ion-input-md-h sc-ion-input-md-s">
                </ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="isValidUserName" class="has-error">Enter User ID</ion-text>
            <!-- <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">
          Mobile Number
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-row>
          <ion-col size="3">
            <ion-input [disabled]="true" type="tel" class="sc-ion-input-md-h sc-ion-input-md-s" value="+91">
            </ion-input>
          </ion-col>
          <ion-col size="9">
            <ion-input type="tel" class="sc-ion-input-md-h sc-ion-input-md-s" placeholder="9999999999">
            </ion-input>
          </ion-col>
        </ion-row>
      </ion-item> -->
            <!-- <ion-text color="danger" *ngIf="isValidMobileNumber" class="has-error">Enter mobile number</ion-text> -->
        </ion-list>
    </div>
    <ion-button class="ion-no-margin" shape="round" expand="block" (click)="forgotPassword()">
        Forgot Password
    </ion-button>
</ion-content>