 <app-app-header
  [titleText]="'Category Listing'"
  [backButton]="true"
></app-app-header>

<ion-content color="light" class="ion-padding my-address-page">
  <div *ngIf="isDataLoaded">
    <div
      class="categories-item mb-2 card"
      *ngFor="let category of categoryData"
      tappable
      (click)="productList()"
    >
      <div class="gold-members p-3">
        <div class="media align-items-center">
          <div class="mr-3">
            <img
              alt="img"
              class="categories-img"
              [src]="category.image"
              onerror="this.onerror=null;this.src='../../../assets/imgs/default-product.png'"
            />
          </div>
          <div class="media-body">
            <!-- <p class="text-success m-0">Up to 71% OFF</p> -->
            <h5 class="mb-2 text-dark font-weight-bold">{{ category.name }}</h5>
            <p class="mb-0 small text-secondary">{{category.cnt}} Products</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isDataLoaded">
    <div
      class="categories-item mb-2 card"
      *ngFor="let category of emptyCategory"
    >
      <div class="gold-members p-3">
        <div class="media align-items-center">
          <div class="mr-3" style="width: 50px; height: 50px">
            <ion-skeleton-text animated></ion-skeleton-text>
          </div>
          <div class="media-body">
            <h5 class="mb-2 text-dark font-weight-bold">
              <ion-skeleton-text animated></ion-skeleton-text>
            </h5>
            <p class="mb-0 small text-secondary">
              <ion-skeleton-text animated></ion-skeleton-text>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
