<!-- <app-app-header
  [titleText]="'Product Listing'"
  [backButton]="true"
  [toShowCartButton]="true">
<ion-row>
  <ion-col [size]="6" style="display: flex;flex-direction: row;
  justify-content: center;align-items: center;">
    <ion-icon style="color: #FFFFFF;font-size: 28px;" name="filter-outline"></ion-icon>
    <ion-text style="font-size: 16px;
    line-height: 18px;
    padding: 0 6px;color: #FFFFFF;">Sort</ion-text>
  </ion-col>
  <ion-col [size]="6" style="display: flex;flex-direction: row;
  justify-content: center;align-items: center;">
    <ion-icon style="color: #FFFFFF;font-size: 28px;" name="funnel-outline"></ion-icon>
    <ion-text style="font-size: 16px;
    line-height: 18px;
    padding: 0 6px;color: #FFFFFF;">Filter</ion-text>
  </ion-col>
</ion-row>
</app-app-header> -->
<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col [size]="2" style="display: flex;flex-direction: row;
      justify-content: center;align-items: center;">
        <ion-icon (click)="back()" style="color: #0f9fd7;font-size: 28px;" name="arrow-back-outline"></ion-icon>
      </ion-col>
      <ion-col [size]="8" style="display: flex;flex-direction: row;
      justify-content: center;align-items: center;">
        <ion-text style="font-size: 16px;
        line-height: 18px;
        padding: 0 6px;color: #FFFFFF;">Product Listing</ion-text>
      </ion-col>
      <ion-col [size]="2" style="display: flex;flex-direction: row;
      justify-content: center;align-items: center;">
        <ion-icon style="color: #FFFFFF;font-size: 28px;" name="cart-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-row>
    <ion-col (click)="presentActionSheet()" [size]="6" style="display: flex;flex-direction: row;
    justify-content: center;align-items: center;border-right: 2px solid lightgrey;">
      <ion-icon style="font-size: 28px;" name="filter-outline"></ion-icon>
      <ion-text style="font-size: 16px;
      line-height: 18px;
      padding: 0 6px;">Sort</ion-text>
    </ion-col>
    <ion-col [size]="6" style="display: flex;flex-direction: row;
    justify-content: center;align-items: center;" (click)="presentModal()">
      <ion-icon style="font-size: 28px;" name="funnel-outline"></ion-icon>
      <ion-text style="font-size: 16px;
      line-height: 18px;
      padding: 0 6px;">Filter</ion-text>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content
  color="light"
  class="ion-padding order-list-page ion-color ion-color-light"
>
  <ion-searchbar
    class="p-0 mb-2"
    placeholder="Search Favorites"
    inputmode="text"
    type="search"
  ></ion-searchbar>
  <!-- <div class="text-center mb-2">
        <small> Placed on Fri, 22 Jun, 8 PM - 11 PM </small>
    </div> -->
    
  <img class="rounded shadow-sm mb-2" src="assets/shop.jpg" />
  <!-- <div *ngIf="!data" class="rounded shadow-sm mb-2">
    <ion-skeleton-text animated></ion-skeleton-text>
  </div> -->

  <div  *ngIf="data">
    <div
    class="d-flex p-3 shop-cart-item bg-white mb-2"
    *ngFor="let product of products"
    (click)="productDetails(product)">

    <div class="shop-cart-left">
      <img
        class="not-found-img"
        [src]="product.img"
        onerror="this.onerror=null;this.src='../../../assets/imgs/default-product.png';"
      />
    </div>
    <div class="shop-cart-right">
      <h6>{{product.name}}</h6>
      <h6 class="font-weight-bold text-dark mb-2 price">
        {{ product.dPrice | currency : 'INR' }}
        <span
          class="regular-price text-secondary font-weight-normal strick-out"
        >
          {{ product.price | currency : 'INR' }}
        </span>
      </h6>
      <ion-button
        [disabled]="product.addToCartInProgress"
        class="add-to-cart-btn"
        (click)="addToCart($event, product)"
      >
        <ion-icon
          slot="start"
          name="cart-outline"
          *ngIf="!product.addToCartInProgress"
        ></ion-icon>
        <!-- <img src="../../../assets/imgs/addtocart.png" /> -->
        <ion-note *ngIf="!product.addToCartInProgress">Add to cart</ion-note>
        <app-button-spinner
          *ngIf="product.addToCartInProgress"
        ></app-button-spinner>
      </ion-button>
      <!-- <div class="mb-2" [innerHTML]="product.product_description"></div> -->
    </div>
  </div>
  </div>
 


  <div  *ngIf="!data">
    <div
    class="d-flex p-3 shop-cart-item bg-white mb-2"
    *ngFor="let product of products"
    (click)="productDetails(product)">

    <div class="shop-cart-left">
      <ion-thumbnail style="height: 75px;
      width: 75px;">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <!-- <img
        class="not-found-img"
        [src]="product.img"
        onerror="this.onerror=null;this.src='../../../assets/imgs/default-product.png';"
      /> -->
    </div>
    <div class="shop-cart-right">
      <h6> <ion-skeleton-text animated></ion-skeleton-text></h6>
      <h6 class="font-weight-bold text-dark mb-2 price">
        <ion-skeleton-text animated></ion-skeleton-text>
        <span
          class="regular-price text-secondary font-weight-normal strick-out"
        >
        <ion-skeleton-text animated></ion-skeleton-text>
        </span>
      </h6>
      <ion-button
        [disabled]="product.addToCartInProgress"
        class="add-to-cart-btn"
      >
        <ion-icon
          slot="start"
          name="cart-outline"
          *ngIf="!product.addToCartInProgress"
        ></ion-icon>
        <!-- <img src="../../../assets/imgs/addtocart.png" /> -->
        <ion-note *ngIf="!product.addToCartInProgress">Add to cart</ion-note>
        <!-- <app-button-spinner
          *ngIf="product.addToCartInProgress"
        ></app-button-spinner> -->
      </ion-button>
      <!-- <div class="mb-2" [innerHTML]="product.product_description"></div> -->
    </div>
  </div>
  </div>


</ion-content>
