<app-app-header [titleText]="'Vouchers'" [menuButton]="true"></app-app-header>

<ion-content color="light" class="ion-padding">
    <div class="card mb15 ">
        <div class="card-header float-center custom-header color-grad border-bottom">
            <div class="ion-text-center font-weight-bold"><span class="rupees-symbol">₹</span><span>3000</span></div>
        </div>
        <div class="card-body bt0">
            <ion-row class="ion-no-padding">
                <ion-col class="ion-text-center">
                    <h6><strong>COUPON CODE</strong></h6>
                    <h5><strong>191114133343</strong>
                        <div class="copy-icon" tappable (click)="copyCode()">
                            <ion-icon name="copy-outline"></ion-icon>
                        </div>
                    </h5>
                </ion-col>
            </ion-row>
            <ion-row class="ion-no-padding ion-text-center">
                <ion-col size="12">
                    <ion-text class="text-secondary">
                        <strong>ACHIEVED ON<br></strong>
                    </ion-text>
                    <ion-text class="text-secondary">
                        <span>16/10/2020</span>
                    </ion-text>
                </ion-col>
            </ion-row>
        </div>
    </div>

    <div class="card mb15">
        <div class="card-header float-center custom-header color-grad border-bottom">
            <div class="ion-text-center font-weight-bold"><span class="rupees-symbol">₹</span><span>5000</span></div>
        </div>
        <div class="card-body bt0">
            <ion-row class="ion-no-padding">
                <ion-col class="ion-text-center">
                    <h6><strong>COUPON CODE</strong></h6>
                    <h5><strong>191114133344</strong>
                        <div class="copy-icon" tappable (click)="copyCode()">
                            <ion-icon name="copy-outline"></ion-icon>
                        </div>
                    </h5>
                </ion-col>
            </ion-row>
            <ion-row class="ion-no-padding ion-text-center">
                <ion-col size="12">
                    <ion-text class="text-secondary">
                        <strong>ACHIEVED ON<br></strong>
                    </ion-text>
                    <ion-text class="text-secondary">
                        <span>15/10/2020</span>
                    </ion-text>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>