.mb15 {
    margin-bottom: 15px;
}

.voucher-card {
    height: 130px;
    width: 100%;
    text-align: center;
    margin-top: -35px;
}

.border-bottom {
    border-bottom: 1px solid;
}

.color-grad {
    background: linear-gradient(90deg, rgba(6, 173, 239, 1) 45%, rgba(18, 210, 255, 1) 91%);
    color: white;
    font-size: 1.8rem;
    font-family: sans-serif !important;
}

.arrow-div {
    border-top: 2px solid gray;
    padding-left: 50%;
}

.card-header ::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #06adef;
    position: absolute;
    top: 65px;
    left: 47%;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid gray;
}

.rupees-symbol {
    font-family: sans-serif !important;
}

.copy-icon {
    position: absolute;
    right: 0;
    left: 200px;
    top: 34px;
    color: #06adef;
}