<ion-content class="ion-no-padding">
    <ion-grid class="ion-no-padding">
        <ion-row class="ion-padding ion-align-items-center vh-100">
            <ion-col class="ion-no-padding">
                <div class="ion-text-center">
                    <img class="not-found-img ion-padding-bottom ion-margin-bottom" src="assets/done.svg">
                    <h5 class="ion-margin-top text-success ion-margin-bottom">
                        <h1 class="text-primary mb-0">Congrats!</h1>
                        <br>Your Order has been Accepted.. </h5>
                    <p class="ion-margin-bottom">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p>
                    <ion-button class="ion-margin-top" color="primary" tabindex="0" (click)="home()">Return to store</ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>