<ion-header class="osahan-nav">
  <ion-toolbar class="in-toolbar">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button *ngIf="menuButton"></ion-menu-button>
        <ion-button *ngIf="backButton" (click)="goBack()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>
      {{ titleText }}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button
        color="primary"
        class="top-cart"
        *ngIf="toShowCartButton"
        (click)="goToCart()"
      >
        <ion-badge mode="ios" *ngIf="values.cartCount > 0">{{
          values.cartCount
        }}</ion-badge>
        <ion-icon slot="start" name="cart-outline"></ion-icon>
      </ion-button>
      <ion-button color="primary" class="top-cart" *ngIf="toShowProfileButton">
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      </ion-button>
      <ion-button
        color="primary"
        class="top-cart"
        *ngIf="toShowAddButton"
        (click)="addAddress()"
      >
        <ion-icon slot="start" name="add"></ion-icon>
      </ion-button>
      <ion-button
        color="primary"
        class="top-cart"
        *ngIf="toShowPopoverButton"
        (click)="openPopover($event)"
      >
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
