<!-- <head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
</head> -->
<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>
                <ion-list id="inbox-list" lines="none">
                    <ion-avatar _ngcontent-dre-c0="" class="ion-margin-start ios hydrated mb-2 md"><img alt="img"
                            src="assets/user.jpg"></ion-avatar>
                    <ion-list-header>{{ user.firstName }} {{ user.lastName }}</ion-list-header>
                    <ion-note>{{ user.emailId }}</ion-note>

                    <div *ngFor="let parentPage of appPages; let i = index">
                        <ion-menu-toggle auto-hide="false" *ngIf="parentPage.url">
                            <ion-item lines="none" (click)="selectedIndex = parentPage.id" routerDirection="root"
                                [routerLink]="[parentPage.url]" lines="none" detail="false"
                                [class.selected]="selectedIndex == parentPage.id">
                                <ion-icon slot="start" [ios]="parentPage.icon + '-outline'"
                                    [md]="parentPage.icon + '-sharp'"></ion-icon>
                                <ion-label>{{ parentPage.title }}</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                        <ion-item button *ngIf="parentPage.childern?.length > 0"
                            (click)="parentPage.open =!parentPage.open" detail="false"
                            [class.active-parent]="parentPage.open">
                            <ion-icon slot="start" [ios]="parentPage.icon + '-outline'"
                                [md]="parentPage.icon + '-sharp'"></ion-icon>
                            <ion-label>{{ parentPage.title }}</ion-label>
                            <ion-icon slot="end" name="chevron-up-outline" *ngIf="parentPage.open"></ion-icon>
                            <ion-icon slot="end" name="chevron-down-outline" *ngIf="!parentPage.open"></ion-icon>
                        </ion-item>
                        <ion-item-divider></ion-item-divider>
                        <app-expandable [expanded]="parentPage.open" [expandHeight]="'3000px'">
                            <ion-list  class="sub-list">
                                <div *ngFor="let sub of parentPage.childern ; let s = index"
                                    >
                                    <ion-menu-toggle auto-hide="false" *ngIf="sub.url">
                                        <ion-item lines="none" (click)="selectedIndex = sub.id" class="sub-item"
                                            routerDirection="root" [routerLink]="[sub.url]" lines="none" detail="false"
                                            [class.selected]="selectedIndex == sub.id">
                                            <ion-icon slot="start" [ios]="sub.icon + '-outline'"
                                                [md]="sub.icon + '-sharp'"></ion-icon>
                                            <ion-label>{{ sub.title }}</ion-label>
                                        </ion-item>
                                    </ion-menu-toggle>
                                    <ion-item button *ngIf="sub.childern?.length > 0" class="sub-item"
                                        (click)="sub.open =!sub.open" detail="false" [class.active-parent]="sub.open">
                                        <ion-icon slot="start" [ios]="sub.icon + '-outline'" [md]="sub.icon + '-sharp'">
                                        </ion-icon>
                                        <ion-label>{{ sub.title }}</ion-label>
                                        <ion-icon slot="end" name="chevron-up-outline" *ngIf="sub.open"></ion-icon>
                                        <ion-icon slot="end" name="chevron-down-outline" *ngIf="!sub.open"></ion-icon>
                                    </ion-item>
                                    <ion-item-divider></ion-item-divider>
                                    <app-expandable [expanded]="sub.open" [expandHeight]="'1000px'">
                                        <ion-list  class="sub-list">
                                            <div *ngFor="let thirdLevelMenu of sub.childern ; let s = index">
                                                <ion-menu-toggle auto-hide="false" *ngIf="thirdLevelMenu.url">
                                                    <ion-item lines="none" class="subt-item"
                                                        (click)="selectedIndex = thirdLevelMenu.id"
                                                        routerDirection="root" [routerLink]="[thirdLevelMenu.url]"
                                                        lines="none" detail="false"
                                                        [class.selected]="selectedIndex == thirdLevelMenu.id">
                                                        <ion-icon slot="start" [ios]="thirdLevelMenu.icon + '-outline'"
                                                            [md]="thirdLevelMenu.icon + '-sharp'"></ion-icon>
                                                        <ion-label>{{ thirdLevelMenu.title }}</ion-label>
                                                    </ion-item>
                                                </ion-menu-toggle>
                                                <ion-item-divider></ion-item-divider>
                                            </div>
                                        </ion-list>
                                    </app-expandable>
                                </div>
                            </ion-list>
                        </app-expandable>
                    </div>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>