ion-menu ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
}
.active{
 --background: rgba(var(--ion-color-primary-rgb), 0.14);

    ion-icon{
        color: var(--ion-color-primary);
    }
}

.active-parent {
font-weight: 500;
}
.animate__animated.animate__bounce {
    --animate-duration: 5s;
  }
ion-item-divider{
min-height: 0px !important;
}
.sub-item{
    padding-left: 20px;
    font-size: small;
}
.subt-item{
    padding-left: 30px;
    font-size: small;
}
.sub-list{
    padding: 0 !important;
    margin:  0!important;
}
ion-menu.md ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

ion-menu.md ion-list {
    padding: 20px 0;
}

ion-menu.md ion-note {
    margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
    padding-left: 10px;
}

ion-menu.md ion-list#inbox-list ion-list-header {
    font-size: 22px;
    font-weight: 600;
    min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
    font-size: 16px;
    margin-bottom: 18px;
    color: #757575;
    min-height: 26px;
}

ion-menu.md ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: 4px;
}

ion-menu.md ion-item.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
    color: var(--ion-color-primary);
}

// ion-menu.md ion-item ion-icon {
//     color: #616e7e;
// }

ion-menu.md ion-item ion-label {
    font-weight: 500;
}

ion-menu.ios ion-content {
    --padding-bottom: 20px;
}

ion-menu.ios ion-list {
    padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
    line-height: 24px;
    margin-bottom: 20px;
}

ion-menu.ios ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
    color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
    font-size: 24px;
    color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
    margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
    padding-left: 16px;
    padding-right: 16px;
}

ion-menu.ios ion-note {
    margin-bottom: 8px;
}

ion-note {
    display: inline-block;
    font-size: 16px;
    color: var(--ion-color-medium-shade);
}

ion-item.selected {
    --color: var(--ion-color-primary);
}
.menu-item-height {
    min-height: 3rem;
}

#menu-material {
    .item-inner {
        margin-left: 5px !important;
    }
    .user-profile {
        padding: 0 !important;
        .toolbar-background {
            // background-color: color($colors, dark);
        }
    }
    .menu-header {
        text-align: center;
        padding: 16px;
        // background-image: url('../assets/imgs/background-1.jpg');
        background-size: cover;
        color: white;
        .name {
            font-weight: 500;
            margin-bottom: 3px;
        }
        .e-mail {
            margin-top: 0;
            margin-bottom: 5px;
        }
    }
    .user-avatar {
        height: 12vh;
    }
    h3, //   .label,
    //   {
    //       color: #333;
    //       font-weight: 400;
    //   }
    //   ion-icon {
    //       color: #333;
    //   }
    // }
    .label-md {
        margin: 0;
    }
    ion-popover {
        div.popover-content {
            left: 75% !important;
            max-width: 46%;
            transform: translate(-50%, -50%) !important;
        }
    }
    body {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }
    ion-content,
    .menu-inner .menu-content {
        position: relative;
        .scroll-content {
            padding-bottom: 0;
        }
        ion-item {
            padding: 0;
            background-color: black;
            color: white;
        }
    }
    ion-icon.menu-icon::before {
        display: inline-block;
        font-size: 13px !important;
    }
}
// .expand-wrapper {
//     transition: max-height 0.4s ease-in-out;
//     overflow: hidden;
//     height: auto;
//   }
  
//   .collapsed {
//     max-height: 0 !important;
//   }