<app-app-header
  [titleText]="'Offer Details'"
  [backButton]="true"
></app-app-header>

<ion-content color="light" class="ion-content-padding-10px">
  <div class="card mt15 mb-2" *ngFor="let offer of offerDetail">
    <ion-row class="ion-no-padding" tappable>
      <ion-col size="9" class="text-left">
        <strong>{{ offer.name }}</strong>
      </ion-col>
      <ion-col size="3" class="text-right">
        <ion-icon name="chevron-forward-outline" class="next-icon"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col size="6" class="text-left">
        <div class="text-secondary">Start Date</div>
        <div>{{ offer.startDate }}</div>
      </ion-col>
      <ion-col size="6" class="text-right">
        <div class="text-secondary">End Date</div>
        <div>{{ offer.endDate }}</div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col>
        <div>
          <ion-label position="floating" class="text-secondary"
            >Scheme Description</ion-label
          >
          <ion-textarea
            rows="4"
            class="ion-no-padding"
            placeholder="Enter scheme description..."
            [value]="offer.schemeDescription"
          ></ion-textarea>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
