<app-app-header [titleText]="'Compose Message'" [menuButton]="true"></app-app-header>
<ion-content color="light" class="ion-padding" style="--offset-top: 0px; --offset-bottom: 0px">
    <div class="card mb-2">
        <ion-list class="ion-no-margin ion-no-padding" lines="full">
            <ion-item class="item-interactive item-input item-has-placeholder item">
                <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">Message to</ion-label>
                <ion-select [(ngModel)]="selectedMessageMode">
                    <ion-select-option value="Admin">Admin</ion-select-option>
                    <ion-select-option value="Downlinewise">Downline ID(s)</ion-select-option>
                </ion-select>
            </ion-item>
            <div *ngIf="selectedMessageMode === 'Downlinewise'" class="ml-3  pt-2 mb-0">
                <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">
                    <strong>Select Downline ID's count:</strong> 50
                </ion-label>
            </div>

            <div *ngIf="selectedMessageMode === 'Downlinewise'" class="ml-3  pt-2 mb-0">
                <ion-chip>
                    <ion-label>Id wise name</ion-label>
                    <ion-icon name="close-circle"></ion-icon>
                </ion-chip>
                <ion-chip>
                    <ion-label>Id wise name</ion-label>
                    <ion-icon name="close-circle"></ion-icon>
                </ion-chip>
            </div>
            <ion-item class="item-interactive item-input item-has-placeholder item">
                <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">
                    Enter Subject
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="text" placeholder="Enter Subject" class="sc-ion-input-md-h sc-ion-input-md-s">
                </ion-input>
            </ion-item>

            <!-- <ion-text color="danger" *ngIf="isValidUserName" class="has-error">Enter User ID</ion-text> -->
            <ion-item class="item-interactive item-input item-has-placeholder item">
                <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">
                    Enter message
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-textarea type="text" rows="4" placeholder="Enter message" class="sc-ion-input-md-h sc-ion-input-md-s">
                </ion-textarea>
            </ion-item>
            <div class="mb-2"></div>
            <!-- <ion-text color="danger" *ngIf="isValidUserName" class="has-error">Enter User ID</ion-text> -->
        </ion-list>
    </div>
    <ion-button class="ion-no-margin" shape="round" expand="block">
        Send message
    </ion-button>
</ion-content>