<app-app-header [titleText]="'Verify Mobile'" [backButton]="true">
</app-app-header>

<ion-content color="light" class="ion-padding shop-cart-page">
    <div class="card mb-2">
        <div class="border-bottom text-center p-3">We will send an SMS with a confirmation code to this number</div>
        <div class="p-3">
            <form class="card">
                <ion-list lines="full">
                    <ion-item>
                        <ion-label position="stacked"> Phone Number
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input placeholder="Enter Phone Number" type="number"></ion-input>
                    </ion-item>
                </ion-list>
                <ion-list class="ion-no-margin ion-no-padding" lines="full">
                    <ion-item>
                        <ion-label position="stacked">Use your referral code here</ion-label>
                        <ion-input placeholder="Enter Code" type="text">
                        </ion-input>
                    </ion-item>
                </ion-list>
            </form>
        </div>
        <div class="p-3 border-top">
            <ion-button expand="block" type="submit" tabindex="0" (click)="deliiveryAddress()">Next</ion-button>
        </div>
    </div>
</ion-content>