<ion-header>
  <ion-toolbar class="toolbar">
    <ion-row style="display: flex;flex-direction: row;
    justify-content: space-between;align-items: center;padding: 2%;">
      <ion-text>Filter</ion-text>
      <ion-icon (click)="closeModal()" name="close-outline"></ion-icon>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>

<div >
  <ion-row style="display: flex;
  flex-direction: column;
  padding: 5%;">
        <ion-text style="font-size: 18px;
        line-height: 18px;">Price Range</ion-text>

      <ion-range *ngIf="clearInput" (ionChange)="ionRange($event)" style="padding: 0;" dualKnobs="true" min="0" max="10000" step="3" value="0" 
       snaps="true" pin="true"></ion-range>
       <ion-range *ngIf="!clearInput" (ionChange)="ionRange($event)" style="padding: 0;" dualKnobs="true" min="0" max="10000" step="3" value="0" 
       snaps="true" pin="true"></ion-range>
  </ion-row>
  <div>
    <ion-row>
      <ion-text style="font-size: 18px;
      padding: 0 20px;font-weight: bolder;">Categories</ion-text>
    </ion-row>
    <ion-row>
      <ion-list style="width: 100%;">
        <ion-item style="width: 100%;" *ngFor="let item of categoryArray">
          <ion-checkbox [(ngModel)]="item.isChecked" value={{item.id}} (ionChange)="ionchange($event,i)" slot="start" mode="md"></ion-checkbox>
          <ion-label>{{item.name}}({{item.cnt}})</ion-label>
        </ion-item>
      </ion-list>
    </ion-row>
  </div>

  <div style="margin-top: 10%;"> 
    <ion-row>
      <ion-text style="font-size: 18px;
      padding: 0 20px;font-weight: bolder;">Brand</ion-text>
    </ion-row>
    <ion-row>
      <ion-list style="width: 100%;">
        <ion-item style="width: 100%;" *ngFor="let item of brandArray">
        <ion-checkbox [(ngModel)]="item.isChecked" value={{item.brand_id}} (ionChange)="ionchange1($event)" slot="start" mode="md"></ion-checkbox>
          <ion-label>{{item.brand_name}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-row>
  </div>
</div>








</ion-content>

<ion-footer>
  <ion-toolbar class="toolbar">
    <ion-row>
      <ion-col (click)="apply()" [size]="6" style="display: flex;flex-direction: row;
      justify-content: center;align-items: center;border-right: 2px solid lightgrey;">
        <ion-text style="font-size: 16px;
        line-height: 18px;
        padding: 0 6px;">Apply</ion-text>
      </ion-col>
      <ion-col (click)="clear()" [size]="6" style="display: flex;flex-direction: row;
      justify-content: center;align-items: center;">
        <ion-text style="font-size: 16px;
        line-height: 18px;
        padding: 0 6px;">Clear</ion-text>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
