.toolbar {
    --background: #003049 !important;
    ion-text {
        color: #FFFFFF;
        font-size: 20px;
    }
    ion-icon {
        color: #FFFFFF;
        font-size: 28px;
    }
  }
//   ion-range {
//     --bar-background: #FFFFFF;
//     --bar-background-active: #003049;
//   }