<ion-header class="osahan-nav">
  <ion-toolbar class="in-toolbar">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>
      <small>Delivery Location</small> <br />
      Bengaluru, India
      <ion-icon name="create-outline"></ion-icon>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="primary" class="top-cart" (click)="goToCart()">
        <ion-badge color="primary" mode="ios" *ngIf="values.cartCount > 0"
          >{{values.cartCount}}</ion-badge
        >
        <ion-icon slot="start" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    
    <ion-searchbar (click)="searchproductList('')" 
      class="pt-1"
      placeholder="Search for products"
      inputmode="text"
      type="search"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="light" *ngIf="data">
  <!-- Home Page Banner -->
  <div class="homepage-slider">
    <ion-slides pager="true">
      <ion-slide (click)="productList('')" *ngFor="let slide of slides">
        <img _ngcontent-bxr-c1="" alt="img" class="single-img" [src]="slide" />
      </ion-slide>
    </ion-slides>
  </div>
  <!-- Home Page Advertisement -->
  <!-- <ion-grid>
        <ion-row>
            <ion-col>
                <img _ngcontent-bxr-c1="" alt="img" class="single-img rounded shadow-sm" src="assets/ad/1.jpg">
            </ion-col>
            <ion-col>
                <img _ngcontent-bxr-c1="" alt="img" class="single-img rounded shadow-sm" src="assets/ad/2.jpg">
            </ion-col>
        </ion-row>
    </ion-grid> -->

  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h5 class="mb-0 d-flex align-items-center">
            Featured categories
            <!-- <ion-button size="small" tabindex="0" (click)="categoryList() " class="ios button button-small ml-auto">View All</ion-button> -->
            <ion-button
              size="small"
              tabindex="0"
              (click)="categoryList()"
              class="view-all-btn ml-auto"
            >
              See All
              <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" *ngFor="let category of categories">
          <ion-card
            class="ion-no-margin category-card"
            (click)="productList(category.id)"
          >
            <div class="img-div">
              <img
                [src]="category.image"
                onerror="this.onerror=null;this.src='../../../assets/imgs/default-product.png';"
              />
            </div>
            <div class="featured-category-name">{{category.name}}</div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h5 class="mb-0 d-flex align-items-center">
            Featured products
            <!-- <ion-button size="small" tabindex="0" (click)="categoryList() " class="ios button button-small ml-auto">View All</ion-button> -->
            <ion-button
              size="small"
              tabindex="0"
              (click)="productList('')"
              class="view-all-btn ml-auto"
            >
              See All
              <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </h5>
        </ion-col>
      </ion-row>
      <ion-row>
        
        <ion-col size="6" *ngFor="let product of featuredProducts">
          <div
            class="p-2 shop-homepage-item bg-white"
            tabindex="0"
            tappable
            (click)="productDetails(product)"
          >
            <div class="shop-cart-left">
              <img
                alt="img"
                class="not-found-img"
                [src]="product.img"
                onerror="this.onerror=null;this.src='../../../assets/imgs/default-product.png';"
              />
            </div>
            <div class="shop-cart-right">
              <div class="mb-2 product-name">{{product.name}}</div>
              <h6 class="font-weight-bold text-dark mb-2 price">
                {{product.dPrice}}
                <span class="regular-price text-secondary font-weight-normal"
                  >{{product.price}}</span
                >
                <ion-badge color="primary">{{'10%'}}</ion-badge>
              </h6>
              <!-- <div
                class="small text-gray-500 d-flex align-items-center justify-content-between"
              >
                <div class="input-group shop-cart-value">
                  <span class="input-group-btn">
                    <button
                      class="btn btn-sm"
                      disabled="disabled"
                      type="button"
                    >
                      -
                    </button>
                  </span>
                  <input
                    class="form-control border-form-control form-control-sm input-number"
                    max="10"
                    min="1"
                    name="quant[1]"
                    type="text"
                    value="1"
                  />
                  <span class="input-group-btn"
                    ><button class="btn btn-sm" type="button">+</button>
                  </span>
                </div>
              </div> -->
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="bg-primary pt-4">
    <h5 class="mb-2 text-white text-center font-weight-bold">
      Best of Everyday essentials
    </h5>
    <div
      tabindex="0"
      class="text-center text-white-50 h6 mb-3"
      tappable
      (click)="categoryList()"
    >
      View All
    </div>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6" *ngFor="let product of featuredProducts">
          <div
            class="p-2 shop-homepage-item bg-white"
            tabindex="0"
            tappable
            (click)="productDetails(product)"
          >
            <div class="shop-cart-left">
              <img
                alt="img"
                class="not-found-img"
                [src]="product.img"
                onerror="this.onerror=null;this.src='../../../assets/imgs/default-product.png';"
              />
            </div>
            <div class="shop-cart-right">
              <div class="mb-2 product-name">{{product.name}}</div>
              <h6 class="font-weight-bold text-dark mb-2 price">
                {{product.dPrice}}
                <span class="regular-price text-secondary font-weight-normal"
                  >{{product.price}}</span
                >
                <ion-badge color="primary">{{product.off}}</ion-badge>
              </h6>
              <!-- <div
                class="small text-gray-500 d-flex align-items-center justify-content-between"
              >
                <div class="input-group shop-cart-value">
                  <span class="input-group-btn">
                    <button
                      class="btn btn-sm"
                      disabled="disabled"
                      type="button"
                    >
                      -
                    </button>
                  </span>
                  <input
                    class="form-control border-form-control form-control-sm input-number"
                    max="10"
                    min="1"
                    name="quant[1]"
                    type="text"
                    value="1"
                  />
                  <span class="input-group-btn"
                    ><button class="btn btn-sm" type="button">+</button>
                  </span>
                </div>
              </div> -->
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>




<ion-content color="light" *ngIf="!data">
  <!-- Home Page Banner -->
  <div class="homepage-slider">
    <ion-slides pager="true">
      <ion-slide (click)="productList('')" *ngFor="let slide of slides">
        <ion-skeleton-text alt="img" class="single-img" animated></ion-skeleton-text>
        <!-- <img _ngcontent-bxr-c1="" alt="img" class="single-img" [src]="slide" /> -->
      </ion-slide>
    </ion-slides>
  </div>
  <!-- Home Page Advertisement -->
  <!-- <ion-grid>
        <ion-row>
            <ion-col>
                <img _ngcontent-bxr-c1="" alt="img" class="single-img rounded shadow-sm" src="assets/ad/1.jpg">
            </ion-col>
            <ion-col>
                <img _ngcontent-bxr-c1="" alt="img" class="single-img rounded shadow-sm" src="assets/ad/2.jpg">
            </ion-col>
        </ion-row>
    </ion-grid> -->

  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h5 class="mb-0 d-flex align-items-center">
            Featured categories
            <ion-button
              size="small"
              tabindex="0"
              (click)="categoryList()"
              class="view-all-btn ml-auto"
            >
              See All
              <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" *ngFor="let category of categories">
          <ion-card
            class="ion-no-margin category-card"
            (click)="productList(category.id)"
          >
            <div class="img-div">
              <ion-skeleton-text class="img-div" animated></ion-skeleton-text>
            </div>
            <div class="featured-category-name">
              <ion-skeleton-text class="featured-category-name" animated></ion-skeleton-text>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h5 class="mb-0 d-flex align-items-center">
            Featured products
            <ion-button
              size="small"
              tabindex="0"
              (click)="productList('')"
              class="view-all-btn ml-auto"
            >
              See All
              <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </h5>
        </ion-col>
      </ion-row>
      <ion-row>
        
        <ion-col size="6" *ngFor="let product of featuredProducts">
          <div
            class="p-2 shop-homepage-item bg-white"
            tabindex="0"
            tappable
            (click)="productDetails(product)"
          >
            <div class="shop-cart-left">
              <ion-skeleton-text alt="img" class="img-div" animated></ion-skeleton-text>
            </div>
            <div class="shop-cart-right">
              <div class="mb-2 product-name">
                <ion-skeleton-text animated class="mb-2 product-name"></ion-skeleton-text>
              </div>
              <ion-skeleton-text animated class="font-weight-bold text-dark mb-2 price"></ion-skeleton-text>
              <ion-skeleton-text animated class="regular-price text-secondary font-weight-normal"></ion-skeleton-text>
              <h6 class="font-weight-bold text-dark mb-2 price">
                <ion-badge color="primary">{{'10%'}}</ion-badge>
              </h6>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->


  
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h5 class="mb-0 d-flex align-items-center">
            Featured products
            <ion-button
              size="small"
              tabindex="0"
              (click)="productList('')"
              class="view-all-btn ml-auto"
            >
              See All
              <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" *ngFor="let category of categories">
          <ion-card style="height: 110px;"
            class="ion-no-margin category-card"
            (click)="productList(category.id)"
          >
            <div class="img-div" style="position: absolute;width: 100%;">
              <ion-skeleton-text class="img-div" animated></ion-skeleton-text>
              <!-- <ion-badge slot="end" style="position: relative;
              bottom: 100px;
              left: 60px;width: 40px;"
              color="primary">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-badge> -->
            </div>
            <ion-row style="margin-top: 32%;">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-row>
            <ion-row>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="bg-primary pt-4">
    <h5 class="mb-2 text-white text-center font-weight-bold">
      Best of Everyday essentials
    </h5>
    <div
      tabindex="0"
      class="text-center text-white-50 h6 mb-3"
      tappable
      (click)="categoryList()"
    >
      View All
    </div>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6" *ngFor="let product of featuredProducts">
          <div
            class="p-2 shop-homepage-item bg-white"
            tabindex="0"
            tappable
            (click)="productDetails(product)"
          >
            <div class="shop-cart-left">
              <ion-skeleton-text animated></ion-skeleton-text>
              <!-- <img
                alt="img"
                class="not-found-img"
                [src]="product.img"
                onerror="this.onerror=null;this.src='../../../assets/imgs/default-product.png';"
              /> -->
            </div>
            <div class="shop-cart-right">
              <div class="mb-2 product-name">
                <ion-skeleton-text animated></ion-skeleton-text>
              </div>
              <h6 class="font-weight-bold text-dark mb-2 price">
                <!-- {{product.dPrice}}
                <span class="regular-price text-secondary font-weight-normal"
                  >{{product.price}}</span
                > -->
                <ion-skeleton-text animated></ion-skeleton-text>
                <ion-badge color="primary">{{product.off}}</ion-badge>
              </h6>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>