.regular-price {
  text-decoration: line-through;
}

.featured-category-name {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  background: #dcdcdc;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view-all-btn {
  --padding-end: 0;
  --border-radius: 18px;
  ion-icon {
    padding: 10px;
    background: #0f9fd7;
  }
}
.category-card {
  .img-div {
    height: 100px;
    text-align: center;
    img {
      height: 100px;
      width: auto;
    }
  }
}
