<app-app-header [titleText]="'Order #52'" [backButton]="true" [toShowPopoverButton]="true"></app-app-header>
<ion-toolbar class="ion-no-padding">
  <div class="ion-text-center status-header">
    <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
    <strong>{{ orderDetailsData.shippingInfo.shippingStatus }}</strong>
  </div>
</ion-toolbar>
<ion-content color="light" class="ion-content-padding-10px">
  <div class="card">
    <div class="p-1">
      <ion-row class="ion-no-padding">
        <ion-col size="1">
          <ion-icon
            name="person-outline"
            color="primary"
            class="icon-size"
          ></ion-icon>
        </ion-col>
        <ion-col size="10">
          <h6 class="float-left">
            <strong>
              Billing Address
            </strong>
          </h6>
        </ion-col>
      </ion-row>
      <div class="card-body card-contain">
        <div class="p-1">
          <div class="justify-content-between mb-2">
            <div class="text-secondary">Phone Number</div>
            <div class="billing-text">
              {{ orderDetailsData.billingAddress.phoneNo}}
            </div>
          </div>
          <div class="justify-content-between mb-2">
            <div class="text-secondary">Email Address</div>
            <div class="billing-text">
              {{ orderDetailsData.billingAddress.emailId }}
            </div>
          </div>
          <div class="justify-content-between mb-2">
            <div class="text-secondary">Address</div>
            <div class="billing-text">
              {{ orderDetailsData.billingAddress.address }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt15">
    <div class="p-1" tappable (click)="expandItem()">
      <ion-row>
        <ion-col size="1">
          <ion-icon
            name="cart-outline"
            color="primary"
            class="icon-size"
          ></ion-icon>
        </ion-col>
        <ion-col size="5">
          <strong class="payment-text">Product(s)</strong>
        </ion-col>
        <ion-col size="5" class="ion-text-end">
          <strong>{{ orderDetailsData.orderItems.length }} Item(s)</strong>
        </ion-col>
        <ion-col size="1">
          <ion-icon
            *ngIf="!orderItemExpanded"
            name="chevron-down-outline"
            class="expandable-icon"
          ></ion-icon>
          <ion-icon
            *ngIf="orderItemExpanded"
            name="chevron-up-outline"
            class="expandable-icon"
          ></ion-icon>
        </ion-col>
      </ion-row>
    </div>
    <app-expandable
      [expanded]="orderItemExpanded"
      *ngFor="let product of orderDetailsData.orderItems"
    >
      <div class="d-flex p-1 shop-cart-item-bottom">
        <div class="shop-cart-left">
          <img alt="img" class="not-found-img" [src]="product.imageUrl" />
        </div>
        <div class="shop-cart-right">
          <h6 class="font-weight-bold text-dark">{{ product.name }}</h6>
          <h6 class="text-dark mb-2">${{ product.price }}</h6>
          <div
            class="small text-gray-500 d-flex align-items-center justify-content-between"
          >
            <small class="text-secondary">BV: 60.00</small>
          </div>
        </div>
      </div>
    </app-expandable>
  </div>

  <div class="card mt15">
    <div class="p-1">
      <ion-row>
        <ion-col size="1">
          <ion-icon
            name="card-outline"
            color="primary"
            class="icon-size"
          ></ion-icon>
        </ion-col>
        <ion-col size="6">
          <strong class="payment-text">Payment</strong>
        </ion-col>
        <ion-col size="5" class="ion-text-end">
          <div>
            <small>{{ orderDetailsData.paymentInfo.payment }}</small>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="card-body card-contain">
      <div class="p-1">
        <div class="d-flex justify-content-between mb-2">
          <div class="text-secondary">Payment Method</div>
          <div class="text-secondary">
            {{ orderDetailsData.paymentInfo.paymentMethod }}
          </div>
        </div>
        <div class="d-flex justify-content-between mb-2">
          <div class="text-secondary">Payment Status</div>
          <div class="text-secondary">
            {{ orderDetailsData.paymentInfo.paymentStatus }}
          </div>
        </div>
        <div class="d-flex justify-content-between mb-2">
          <div class="text-secondary">Remaining Amount</div>
          <div class="text-secondary">
            {{ orderDetailsData.paymentInfo.remainingAmount }}
          </div>
        </div>
        <div class="d-flex justify-content-between mb-2">
          <div class="text-secondary">Total BV</div>
          <div class="text-secondary">517.00</div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-2 mt15">
    <div class="p-1">
      <ion-row class="ion-no-padding">
        <ion-col size="1">
          <ion-icon
            name="logo-usd"
            color="primary"
            class="icon-size"
          ></ion-icon>
        </ion-col>
        <ion-col size="7">
          <strong class="payment-text">Order Amount</strong>
        </ion-col>
      </ion-row>
    </div>
    <div class="p-2">
      <div class="d-flex justify-content-between mb-2">
        <div class="text-secondary">Sub-Total</div>
        <div class="text-secondary">$1520.00</div>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <div class="text-secondary">Shipping</div>
        <div class="text-secondary">$0.00</div>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <div class="text-secondary">Tax</div>
        <div class="text-secondary">$0.00</div>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <div class="text-secondary">Total BV</div>
        <div class="text-secondary">517.00</div>
      </div>
    </div>
    <div
      class="d-flex justify-content-between align-items-center py-2 px-2 border-top text-dark"
    >
      <h6 class="font-weight-bold m-0">Order Total</h6>
      <h6 class="font-weight-bold m-0">$1520.00</h6>
    </div>
  </div>

  <div class="card mt15">
    <div class="p-1">
      <ion-row>
        <ion-col size="1">
          <ion-icon
            name="car-outline"
            color="primary"
            class="icon-size"
          ></ion-icon>
        </ion-col>
        <ion-col size="7">
          <strong class="payment-text">Shipping</strong>
        </ion-col>
        <ion-col size="4" class="ion-text-end">
          <!-- <small>{{ orderDetailsData.shippingInfo.shippingMethod }}</small> -->
        </ion-col>
      </ion-row>
    </div>
    <div class="card-body card-contain">
      <div class="p-1">
        <div class="justify-content-between mb-2">
          <div class="text-secondary">Shipping Method</div>
          <div class="billing-text">
            {{ orderDetailsData.shippingInfo.shippingMethod }}
          </div>
        </div>
        <div class="justify-content-between mb-2">
          <div class="text-secondary">
            {{ orderDetailsData.shippingInfo.shippingStatus }}
          </div>
          <div class="billing-text">
            Delivered
          </div>
        </div>
        <div class="justify-content-between mb-2">
          <div class="text-secondary">Shipping Address</div>
          <div class="billing-text">
            {{ orderDetailsData.billingAddress.address }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt15">
    <div class="p-1">
      <ion-row tappable (click)="expandShipmentInfo()">
        <ion-col size="1">
          <ion-icon
            name="car-outline"
            color="primary"
            class="icon-size"
          ></ion-icon>
        </ion-col>
        <ion-col size="5">
          <strong class="payment-text">Shipments</strong>
        </ion-col>
        <ion-col size="5" class="ion-text-end"></ion-col>
        <ion-col size="1" class="ion-text-left">
          <ion-icon
            *ngIf="!shipmentItemExpanded"
            name="chevron-down-outline"
            class="expandable-payment-icon"
          ></ion-icon>
          <ion-icon
            *ngIf="shipmentItemExpanded"
            name="chevron-up-outline"
            class="expandable-payment-icon"
          ></ion-icon>
        </ion-col>
      </ion-row>
    </div>
    <app-expandable [expanded]="shipmentItemExpanded">
      <ion-list
        class="ion-no-padding p-1 shipment-bottom"
        *ngFor="let product of orderDetailsData.orderItems"
      >
        <ion-row
          tappable
          (click)="shpmentDetails(orderDetailsData.shipmentsInfo)"
        >
          <ion-col size="12">
            <ion-row class="shipment-details">
              <ion-col size="11">
                <strong class="shipment-id">Shipment ID:&nbsp;</strong>
                <span>&nbsp;8</span>
              </ion-col>
              <ion-col size="1">
                <ion-icon
                  name="chevron-forward-outline"
                  class="detail-icon"
                ></ion-icon>
              </ion-col>
            </ion-row>
            <div class="p-1">
              <div class="d-flex justify-content-between mb-2">
                <div class="text-secondary">Tracking number</div>
                <div class="text-secondary">
                  {{ orderDetailsData.shipmentsInfo.trackingNumber }}
                </div>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <div class="text-secondary">Date shipped</div>
                <div class="text-secondary">
                  {{ orderDetailsData.shipmentsInfo.dateShipped }}
                </div>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <div class="text-secondary">Date delivered</div>
                <div class="text-secondary">
                  {{ orderDetailsData.shipmentsInfo.dateDelivered }}
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-list>
    </app-expandable>
  </div>
</ion-content>
<ion-footer class="ion-no-border footer-background">
  <ion-button shape="round" expand="block" color="primary">
    Re-order
  </ion-button>
</ion-footer>
