.pt0 {
    padding-top: 0;
}
.card-contain {
    padding: 0px 0px 0.5rem 0.5rem;
}
.mt15 {
    margin-top: 15px;
}
.expandable-icon {
    color: grey;    
    font-size: 17px;
}
.old-price {
    font-size: 0.7rem;
    text-decoration: line-through;
}
.payment-text {
    font-size: 16px;
}
.mt3 {
    margin-top: 3px;
}
.icon-size {
    font-size: 20px;
}
.status-header {
    ion-icon {
        vertical-align: text-top;
        margin-right: 10px;
        font-size: 1.1rem;
    
    }
    strong {
        font-size: 16px;
    }
}
.view-detail-btn{
    height: 20px;
    width: 50%;
    font-size: 10px;
}
.shipments-item {
    // margin: -15px 0 -15px 0px;
    font-size: 13px;
}
.detail-icon {
    height: 100%;
    display: block;
    vertical-align: middle;
}
.expandable-payment-icon {
    color: grey;
    font-size: 17px;
}
.shipment-bottom {
    border-bottom: 1px solid gray;
}
.shipment-details {
    .shipment-id {
        color: #003049;
    }
}
.pl10 {
    padding-left: 10px;
}
.billing-label {
    
}
.billing-text {
    color: black;
}