<app-app-header [titleText]="'KYC Upload'" [menuButton]="true"></app-app-header>
<ion-content color="light" class="ion-padding">
  <!-- <div class="card">
    <div class="card-header">PAN CARD</div>
    <div class="card-body bt0">
      <ion-row>
        <ion-col size="4" class="ion-no-padding">
          <img class="upload-image" src="assets/pan.jpg" />
        </ion-col>
        <div class="image-icon">
          <ion-row>
            <ion-col>
              <ion-button fill="clear"><ion-icon name="cloud-upload-outline"></ion-icon></ion-button>
            </ion-col>
            <ion-col >
              <ion-button fill="clear"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
            </ion-col>
          </ion-row>
        </div>
        <ion-col size="8">
          <ion-item class="ion-no-padding">
            <ion-label position="stacked"> Pan Card Number </ion-label>
            <ion-input class="placeholder-text" type="text" placeholder="Enter Pan Card Number">
            </ion-input>
          </ion-item>
          <ion-row>
            <ion-col>
              <ion-text class="text-wrap"><ion-icon name="calendar-outline"></ion-icon><strong>Upload Date:</strong> 06/10/2020</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text><ion-icon name="document-text-outline"></ion-icon><strong>Status:</strong> Pending</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text>
                <ion-icon name="bookmark-outline"></ion-icon><strong>Remark:</strong>This is Remark Text
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </div> -->

<!-- <ion-card class="ion-no-padding">
  <ion-card-header>
    <ion-card-subtitle>PAN CARD</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="ion-no-padding">
    <ion-row class="img-row ion-no-padding">
      <ion-col size="8" class="ion-no-padding">
        <img class="card-image" src="assets/pan.jpg" />
      </ion-col>
      <ion-col size="4">
        <ion-button shape="round"><ion-icon name="cloud-upload-outline"></ion-icon>Upload</ion-button>
        <ion-button shape="round"><ion-icon name="close-circle-outline"></ion-icon>Remove</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col="9">
        <ion-item class="ion-no-padding">
          <ion-label position="stacked"> Pan Card Number </ion-label>
          <ion-input class="placeholder-text" type="text" placeholder="Enter Pan Card Number">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="3" class="ion-text-right">
        <ion-chip color="primary" class="save-chip">save</ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>
          <ion-icon name="calendar-outline"></ion-icon><strong>Upload Date:</strong>06/10/2020
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text><ion-icon name="document-text-outline"></ion-icon><strong>Status:</strong> Pending</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>
          <ion-icon name="bookmark-outline"></ion-icon><strong>Remark:</strong>This is Remark Text
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card> -->

<!-- <ion-card  class="ion-no-padding">
  <ion-card-header>
    <ion-card-subtitle>PAN CARD</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content >
    <ion-row class="ion-no-padding">
      <ion-col size="6" class="common-col">
        <ion-row class="ion-no-padding">
          <ion-col>
            <img class="pan-card-img" src="assets/pan.jpg" />
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding">
          <ion-col size="6">
            <ion-button shape="round" class="upload-save-btn"><ion-icon name="cloud-upload-outline"></ion-icon>Upload</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button shape="round" class="upload-save-btn"><ion-icon name="close-circle-outline"></ion-icon>Remove</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="6" class="common-col">
        <ion-item class="ion-no-padding input-content">
          <ion-label position="stacked"> Pan Card Number </ion-label>
          <ion-input class="placeholder-text" type="text" placeholder="Enter Pan Number">
          </ion-input>
        </ion-item>
        <ion-button shape="round">save</ion-button>
      </ion-col>
    </ion-row>
    <div class="">
      <ion-row >
        <ion-col>
          <ion-text>
            <ion-icon name="calendar-outline"></ion-icon><strong>Upload Date:</strong>06/10/2020
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text><ion-icon name="document-text-outline"></ion-icon><strong>Status:</strong> Pending</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>
            <ion-icon name="bookmark-outline"></ion-icon><strong>Remark:</strong>This is Remark Text
          </ion-text>
        </ion-col>
      </ion-row>
    </div>
  </ion-card-content>
</ion-card> -->

<div class="card mb15">
  <div class="card-header">PAN CARD</div>
    <div class="card-body bt0">
      <ion-row class="ion-no-padding img-row-new">
        <ion-col size="7" class="ion-no-padding">
          <img class="card-image" src="assets/pan.jpg" />
        </ion-col>
        <ion-col size="5" class="remove-upload-btn">
          <ion-button shape="round"><ion-icon name="cloud-upload-outline"></ion-icon>Upload</ion-button>
          <ion-button shape="round"><ion-icon name="close-circle-outline"></ion-icon>Remove</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col="9">
          <ion-item class="ion-no-padding">
            <ion-label position="stacked"> Pan Card Number </ion-label>
            <ion-input class="placeholder-text" type="text" placeholder="Enter Pan Card Number">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3" class="ion-text-right">
          <ion-chip color="primary" class="save-chip">save</ion-chip>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>
            <ion-icon name="calendar-outline"></ion-icon><strong>Upload Date:</strong>06/10/2020
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text><ion-icon name="document-text-outline"></ion-icon><strong>Status:</strong> Pending</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>
            <ion-icon name="bookmark-outline"></ion-icon><strong>Remark:</strong>This is Remark Text
          </ion-text>
        </ion-col>
      </ion-row>
  </div>
</div>

<div class="card mb15">
  <div class="card-header">Aadhar Card Front</div>
    <div class="card-body bt0">
      <ion-row class="ion-no-padding img-row-new">
        <ion-col size="7" class="ion-no-padding">
          <img class="card-image" src="assets/aadhar.jpg" />
        </ion-col>
        <ion-col size="5" class="remove-upload-btn">
          <ion-button shape="round"><ion-icon name="cloud-upload-outline"></ion-icon>Upload</ion-button>
          <ion-button shape="round"><ion-icon name="close-circle-outline"></ion-icon>Remove</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col="9">
          <ion-item class="ion-no-padding">
            <ion-label position="stacked"> Aadhar Card Number </ion-label>
            <ion-input class="placeholder-text" type="text" placeholder="Enter Aadhar Card Number">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3" class="ion-text-right">
          <ion-chip color="primary" class="save-chip">save</ion-chip>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>
            <ion-icon name="calendar-outline"></ion-icon><strong>Upload Date:</strong>06/10/2020
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text><ion-icon name="document-text-outline"></ion-icon><strong>Status:</strong> Pending</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>
            <ion-icon name="bookmark-outline"></ion-icon><strong>Remark:</strong>This is Remark Text
          </ion-text>
        </ion-col>
      </ion-row>
  </div>
</div>

<div class="card mb15">
  <div class="card-header">Aadhar Card Back</div>
    <div class="card-body bt0">
      <ion-row class="ion-no-padding img-row-new">
        <ion-col size="7" class="ion-no-padding">
          <img class="card-image" src="assets/aadhar.jpg" />
        </ion-col>
        <ion-col size="5" class="remove-upload-btn">
          <ion-button shape="round"><ion-icon name="cloud-upload-outline"></ion-icon>Upload</ion-button>
          <ion-button shape="round"><ion-icon name="close-circle-outline"></ion-icon>Remove</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>
            <ion-icon name="calendar-outline"></ion-icon><strong>Upload Date:</strong>06/10/2020
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text><ion-icon name="document-text-outline"></ion-icon><strong>Status:</strong> Pending</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>
            <ion-icon name="bookmark-outline"></ion-icon><strong>Remark:</strong>This is Remark Text
          </ion-text>
        </ion-col>
      </ion-row>
  </div>
</div>

<div class="card mb15">
  <div class="card-header">Passbook/Cheque Book</div>
    <div class="card-body bt0">
      <ion-row class="ion-no-padding img-row-new">
        <ion-col size="7" class="ion-no-padding">
          <img class="card-image" src="assets/aadhar.jpg" />
        </ion-col>
        <ion-col size="5" class="remove-upload-btn">
          <ion-button shape="round"><ion-icon name="cloud-upload-outline"></ion-icon>Upload</ion-button>
          <ion-button shape="round"><ion-icon name="close-circle-outline"></ion-icon>Remove</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>
            <ion-icon name="calendar-outline"></ion-icon><strong>Upload Date:</strong>06/10/2020
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text><ion-icon name="document-text-outline"></ion-icon><strong>Status:</strong> Pending</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>
            <ion-icon name="bookmark-outline"></ion-icon><strong>Remark:</strong>This is Remark Text
          </ion-text>
        </ion-col>
      </ion-row>
  </div>
</div>

</ion-content>
