.upload-image {
    margin: 0 0px 0 0px;
    width: 115px;
    flex: none;
    height: 50%;
}
.image-icon {
    position: absolute;
    top: 165px;
    width: 110px;
    ion-button{
        height: 30px;
        width: 25px;
    }
    ion-icon {
        border: 1px solid;
        border-radius: 50%;
        min-width: 25px;
        min-height: 25px;
    }
}
.placeholder-text {
    font-size: 14px;
}
.bt0 {
    padding-bottom: 0px !important;
}
.text-wrap {
    display: initial;
    overflow-wrap: break-word;
    word-spacing: -2px;
}

//new card

ion-card {
    ion-card-header {
        border-bottom: 1px solid;
    }
    ion-button {
        width: 100%;
    }
    .img-row {
        margin-top: 5px;
        margin-bottom: 5px;
        // border: 1px solid;
        // border-radius: 8px;
        ion-button {
            ion-icon {
                min-width: 15px;
                min-height: 15px;
            }
        }
    }
    .card-image {
        height: 100px;
        width: 100%;
        // border: 2px solid;
        // border-radius: 5px;
    }
    .save-chip {
        border: 1px solid;
        margin-top: 15px;
        font-size: 13px;
    }
}
// Third Card
.pan-card-img {
    height: 50px;
    width: 100%;
    border: 2px solid;
    border-radius: 5px;
}
.upload-save-btn {
    font-size: 10px;
    height: 25px;
}
.common-col {
    border: 1px solid gray;
    margin-top: 3px;
    border-radius: 7px;    
    .input-content {
        font-size: 12px;
    }
}

// fourth

.img-row-new {
    margin-top: 5px;
    margin-bottom: 5px;
    // border: 1px solid;
    // border-radius: 8px;
    ion-button {
        width: 100%;
        ion-icon {
            min-width: 15px;
            min-height: 15px;
        }
    }
    .card-image {
        height: 100px;
        width: 100%;
        // border: 2px solid;
        // border-radius: 5px;
    }
}

.save-chip {
    border: 1px solid;
    margin-top: 15px;
    font-size: 13px;
}
.pd0 {
    padding: 0 !important;
}
.mb15 {
    margin-bottom: 15px;
}
