<app-app-header [titleText]="'Add Address'" [backButton]="true"></app-app-header>
<ion-content color="light" class="ion-padding">
    <div class="card">
        <form>
            <ion-list class="ion-no-margin ion-no-padding" lines="full">
                <ion-item>
                    <ion-label position="stacked"> First name
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input placeholder="Enter first name" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked"> First last name
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input placeholder="Enter last ame" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked"> Email
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input placeholder="Enter email" type="text"></ion-input>
                </ion-item>
                <ion-item class="item-interactive item-input item-has-placeholder item">
                    <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">Select Country</ion-label>
                    <ion-select>
                        <ion-select-option value="India">India</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item class="item-interactive item-input item-has-placeholder item">
                    <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">Select state</ion-label>
                    <ion-select>
                        <ion-select-option value="state">Delhi</ion-select-option>
                        <ion-select-option value="PayoutWise">Maharshtra</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item class="item-interactive item-input item-has-placeholder item">
                    <ion-label position="stacked" class="sc-ion-label-md-h sc-ion-label-md-s">Select city</ion-label>
                    <ion-select>
                        <ion-select-option value="DataWise">Mumbai</ion-select-option>
                        <ion-select-option value="PayoutWise">Pune</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked"> Flat/House/Office No.
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input placeholder="Enter Flat/House/Office.." type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked"> Street/Society/Office Name
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input placeholder="Enter Street/Society/Office..." type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked"> Zipcode/ Postal code
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input placeholder="Enter zip code/Postal code" type="text"></ion-input>
                </ion-item>
            </ion-list>
            <ion-item>
                <ion-label position="stacked"> Phone number
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input placeholder="Enter phone number" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked"> Fax number
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input placeholder="Enter fax number" type="text"></ion-input>
            </ion-item>

        </form>
    </div>

</ion-content>

<ion-footer class="ion-no-border footer-background">
    <ion-button shape="round" expand="block" color="primary">SAVE
    </ion-button>
</ion-footer>