<app-app-header [titleText]="'Point Details'" [menuButton]="true"></app-app-header>
<ion-content color="light" class="ion-content-padding-10px">
    <div class="card mt15 mb-2" *ngFor="let pointDetail of pointDetails">
        <ion-row>
            <ion-col size="12" class="text-left">
                <div class="text-secondary">Income Type</div>
                <div>{{pointDetail.incomeType}}</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6" class="text-left">
                <div class="text-secondary">Heighest Leg BV</div>
                <div>{{pointDetail.heighestLegBV}}</div>
            </ion-col>
            <ion-col size="6" class="text-right">
                <div class="text-secondary">Second Heighest Leg BV</div>
                <div>{{pointDetail.secondHeighestLegBV}}</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6" class="text-left">
                <div class="text-secondary">Qualification Factor</div>
                <div>{{pointDetail.qualificationFactor}}</div>
            </ion-col>
            <ion-col size="6" class="text-right">
                <div class="text-secondary">Total points</div>
                <div>{{pointDetail.totalPoints}}</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6" class="text-left">
                <div class="text-secondary">Point value</div>
                <div>{{pointDetail.pointValue}}</div>
            </ion-col>
            <ion-col size="6" class="text-right">
                <div class="text-secondary">Income</div>
                <div>{{pointDetail.income}}</div>
            </ion-col>
        </ion-row>
    </div>
</ion-content>