<app-app-header
  [titleText]="'Edit Profile'"
  [backButton]="true"
></app-app-header>
<!-- <ion-content

  class="ion-padding"
  color="light"
  style="--offset-top: 0px; --offset-bottom: 0px"
>
  <div class="card">
    <ion-list class="ion-no-margin ion-no-padding" lines="full">
      <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label
          position="stacked"
          class="sc-ion-label-md-h sc-ion-label-md-s"
        >
          Name
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input
          type="text"
          placeholder="Enter Name"
          class="sc-ion-input-md-h sc-ion-input-md-s"
        >
        </ion-input>
      </ion-item>
      <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label
          position="stacked"
          class="sc-ion-label-md-h sc-ion-label-md-s"
        >
          Phone
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input
          type="text"
          placeholder="Enter Phone"
          class="sc-ion-input-md-h sc-ion-input-md-s"
        >
        </ion-input>
      </ion-item>
      <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label
          position="stacked"
          class="sc-ion-label-md-h sc-ion-label-md-s"
        >
          Email
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input
          type="email"
          placeholder="Enter Email"
          class="sc-ion-input-md-h sc-ion-input-md-s"
        >
        </ion-input>
      </ion-item>
      <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label
          position="stacked"
          class="sc-ion-label-md-h sc-ion-label-md-s"
        >
          Address
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input
          type="text"
          placeholder="Enter Address"
          class="sc-ion-input-md-h sc-ion-input-md-s"
        >
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-radio-group>
        <ion-list-header>
          <ion-label class="sc-ion-label-md-h sc-ion-label-md-s">
            Gender
          </ion-label>
        </ion-list-header>
        <ion-item class="item">
          <ion-label class="sc-ion-label-md-h sc-ion-label-md-s">
            Male
          </ion-label>
          <ion-radio color="primary" value="Male"> </ion-radio>
        </ion-item>
        <ion-item class="item">
          <ion-label class="sc-ion-label-md-h sc-ion-label-md-s">
            Female
          </ion-label>
          <ion-radio color="primary" value="Female"> </ion-radio>
        </ion-item>
        <ion-item class="item">
          <ion-label class="sc-ion-label-md-h sc-ion-label-md-s">
            Other
          </ion-label>
          <ion-radio color="primary" value="Other"> </ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <div class="ion-padding">
      <ion-button class="ion-no-margin" expand="block">
        SAVE
      </ion-button>
    </div>
  </div>
</ion-content> -->
<ion-content
  color="light"
  class="ion-padding"
  style="--offset-top: 0px; --offset-bottom: 0px"
>
  <div class="card">
    <ion-list class="ion-no-margin ion-no-padding" lines="full">
      <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label
          position="stacked"
          class="sc-ion-label-md-h sc-ion-label-md-s"
        >
          First Name
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input
          type="text"
          placeholder="Enter First Name"
          class="sc-ion-input-md-h sc-ion-input-md-s"
        >
        </ion-input>
      </ion-item>
      <ion-text color="danger" class="errorText" *ngIf="sponsonIDError"
        >Enter First Name</ion-text
      >

      <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label
          position="stacked"
          class="sc-ion-label-md-h sc-ion-label-md-s"
        >
          Middle Name
        </ion-label>
        <ion-input
          type="text"
          placeholder="Enter Middle Name"
          class="sc-ion-input-md-h sc-ion-input-md-s"
        >
        </ion-input>
      </ion-item>

      <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label
          position="stacked"
          class="sc-ion-label-md-h sc-ion-label-md-s"
        >
          Last Name
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input
          type="text"
          placeholder="Enter Last Name"
          class="sc-ion-input-md-h sc-ion-input-md-s"
        >
        </ion-input>
      </ion-item>
      <ion-text color="danger" class="errorText" *ngIf="sponsonIDError"
        >Enter Last Name</ion-text
      >
    </ion-list>
    <ion-list class="ion-no-margin ion-no-padding" lines="full">
      <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label
          position="stacked"
          class="sc-ion-label-md-h sc-ion-label-md-s"
        >
          Address
        </ion-label>
        <ion-input
          type="text"
          placeholder="Full Address"
          class="sc-ion-input-md-h sc-ion-input-md-s"
        >
        </ion-input>
      </ion-item>

      <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label
          position="stacked"
          class="sc-ion-label-md-h sc-ion-label-md-s"
        >
          Pin Code
        </ion-label>
        <ion-input type="tel" class="sc-ion-input-md-h sc-ion-input-md-s" 
        placeholder="Enter Pin Code">
        </ion-input>
      </ion-item>

      <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label
          position="stacked"
          class="sc-ion-label-md-h sc-ion-label-md-s"
          >Select Country</ion-label
        >
        <ion-select [(ngModel)]="country">
          <ion-select-option value="ind">India</ion-select-option>
          <ion-select-option value="usa">USA</ion-select-option>
          <ion-select-option value="uk">UK</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label
          position="stacked"
          class="sc-ion-label-md-h sc-ion-label-md-s"
          >Select City</ion-label
        >
        <ion-select [(ngModel)]="city">
          <ion-select-option value="pune">Pune</ion-select-option>
          <ion-select-option value="usa">Nagpur</ion-select-option>
          <ion-select-option value="uk">Nashik</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label
          position="stacked"
          class="sc-ion-label-md-h sc-ion-label-md-s"
          >Select City</ion-label
        >
        <ion-select [(ngModel)]="state">
          <ion-select-option value="mh">Maharashtra</ion-select-option>
          <ion-select-option value="usa">Gujrat</ion-select-option>
          <ion-select-option value="uk">Bihar</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label
          position="stacked"
          class="sc-ion-label-md-h sc-ion-label-md-s"
        >
          Mobile Number
        </ion-label>
        <ion-row>
          <ion-col>
            <ion-input
              [disabled]="true"
              type="tel"
              class="sc-ion-input-md-h sc-ion-input-md-s"
              value="India(+91)"
            >
            </ion-input>
          </ion-col>
          <ion-col>
            <ion-input
              type="tel"
              class="sc-ion-input-md-h sc-ion-input-md-s"
              placeholder="9999999999"
              [disabled]="true"
              value="9561262672"
            >
            </ion-input>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label
          position="stacked"
          class="sc-ion-label-md-h sc-ion-label-md-s"
        >
          Sponsor ID
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input
          type="text"
          placeholder="Upline ID"
          class="sc-ion-input-md-h sc-ion-input-md-s"
        >
        </ion-input>
      </ion-item>
      <ion-text color="danger" class="errorText" *ngIf="sponsonIDError"
        >Enter Sponsor ID</ion-text
      >

      <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label
          position="stacked"
          class="sc-ion-label-md-h sc-ion-label-md-s"
        >
          Referral ID
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input
          type="text"
          placeholder="Referral ID"
          class="sc-ion-input-md-h sc-ion-input-md-s"
        >
        </ion-input>
      </ion-item>
      <ion-text color="danger" class="errorText" *ngIf="sponsonIDError"
        >Enter Referral ID</ion-text
      >

      <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label
          position="stacked"
          class="sc-ion-label-md-h sc-ion-label-md-s"
        >
          Aadhar Card No.
        </ion-label>
        <ion-input
          type="text"
          placeholder="Enter Aadhar card No"
          class="sc-ion-input-md-h sc-ion-input-md-s"
        >
        </ion-input>
      </ion-item>

      <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label
          position="stacked"
          class="sc-ion-label-md-h sc-ion-label-md-s"
        >
          A/C Holder Name
        </ion-label>
        <ion-input
          type="text"
          placeholder="Enter A/C Holder Name"
          class="sc-ion-input-md-h sc-ion-input-md-s"
        >
        </ion-input>
      </ion-item>

      <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label
          position="stacked"
          class="sc-ion-label-md-h sc-ion-label-md-s"
        >
          A/C Number
        </ion-label>
        <ion-input
          type="text"
          placeholder="Enter A/C Number"
          class="sc-ion-input-md-h sc-ion-input-md-s"
        >
        </ion-input>
      </ion-item>

      <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label
          position="stacked"
          class="sc-ion-label-md-h sc-ion-label-md-s"
        >
          Bank Name
        </ion-label>
        <ion-input
          type="text"
          placeholder="Enter Bank Name"
          class="sc-ion-input-md-h sc-ion-input-md-s"
        >
        </ion-input>
      </ion-item>

      <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label
          position="stacked"
          class="sc-ion-label-md-h sc-ion-label-md-s"
        >
          IFSC Code
        </ion-label>
        <ion-input
          type="text"
          placeholder="Enter IFSC Code "
          class="sc-ion-input-md-h sc-ion-input-md-s"
        >
        </ion-input>
      </ion-item>

      <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label
          position="stacked"
          class="sc-ion-label-md-h sc-ion-label-md-s"
        >
          Branch Name
        </ion-label>
        <ion-input
          type="text"
          placeholder="Enter Branch Name"
          class="sc-ion-input-md-h sc-ion-input-md-s"
        >
        </ion-input>
      </ion-item>

      <ion-item class="item-interactive item-input item-has-placeholder item">
        <ion-label
          position="stacked"
          class="sc-ion-label-md-h sc-ion-label-md-s"
        >
          Bank Address
        </ion-label>
        <ion-input
          type="text"
          placeholder="Enter Bank Address"
          class="sc-ion-input-md-h sc-ion-input-md-s"
        >
        </ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer class="ion-no-border footer-background">
  <ion-button shape="round" expand="block" color="primary">
    Save
  </ion-button>
</ion-footer>