<ion-item line="none" *ngIf="pathName != '/inbox'">
    <span>
    PDF Invoice
  </span>
</ion-item>
<ion-item line="none" *ngIf="pathName == '/inbox'">
  <span>
  Move 
</span>
</ion-item>
<ion-item line="none" *ngIf="pathName == '/inbox'">
  <span>
  Delete
</span>
</ion-item>