<app-app-header [titleText]="'LB Income Details'" [menuButton]="true"></app-app-header>
<ion-content color="light" class="ion-content-padding-10px">
  <div class="card mt15 mb-2" *ngFor="let report of LBIncomeDetailsReport">
    <ion-row>
      <ion-col size="12" class="text-left">
        <div class="text-secondary">Leg Director Name</div>
        <div><strong>{{report.legDirectName}}</strong></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="text-left">
        <div class="text-secondary">Leg No</div>
        <div>{{report.legNo}}</div>
      </ion-col>
      <ion-col size="6" class="text-right">
        <div class="text-secondary">Business</div>
        <div>{{report.business}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="text-left">
        <div class="text-secondary">LB Percentage</div>
        <div>{{report.lbPercentage}}</div>
      </ion-col>
      <ion-col size="6" class="text-right">
        <div class="text-secondary">LB Points</div>
        <div>{{report.lbpoints}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="text-left">
        <div class="text-secondary">LB Point Value</div>
        <div>{{report.lbpointValue}}</div>
      </ion-col>
      <ion-col size="6" class="text-right">
        <div class="text-secondary">LB Income</div>
        <div>{{report.lbIncome}}</div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer class="ion-no-border footer-background">
  <ion-row>
    <ion-col size="6" class="text-left">
      <div class="text-secondary"><strong>LB Income</strong></div>
    </ion-col>
    <ion-col size="6" class="text-right">
      <div class="text-secondary"><strong>{{124.25  | currency: appConstants.currencyCode: 'symbol': appConstants.currencyCodeValue}}</strong></div>
    </ion-col>
  </ion-row>
</ion-footer>