<app-app-header titleText="TDS Download Files" [menuButton]="true"></app-app-header>

<ion-content color="light">
    <ion-card class="download-report-card" *ngFor="let report of tdsDocuments">
        <ion-row class="text-black-100">
            <ion-col size="2" class="left-container">
                <ion-row class="member-status-image-row">
                    <ion-col size="12" class="member-status-image-col">

                        <img src="../assets/imgs/download_files_icons/tds-icon.png" />
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="10" class="f-12 right-container">
                <ion-row>
                    <ion-col size="12" class="ion-no-padding font-weight-bolder">
                        {{report.FiledName}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="9">
                        <div class="text-secondary ml-1"><strong>Filed Id: </strong>{{report.FiledId}}</div>
                    </ion-col>
                    <ion-col size="3">
                        <div class="text-secondary text-right">
                            <ion-icon name="cloud-download-outline"></ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>