<app-app-header [titleText]="'DB Qualification Details'" [menuButton]="true"></app-app-header>
<ion-content color="light" class="ion-content-padding-10px">
  <div class="card mt15 mb-2" *ngFor="let report of DBQualificationReport">
    <ion-row>
      <ion-col size="12" class="text-left">
        <div><strong>{{report.name}}</strong></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="text-lefft">
        <div class="text-secondary">Qualification Date</div>
        <div>{{report.qualificationDate}}</div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>