<app-app-header [titleText]="'Payout Statement'" [backButton]="true"></app-app-header>
<ion-content color="light" class="ion-content-padding-10px">
  <!-- PAyout detail section -->
  <div class="card  mb-2">
    <ion-row class="ion-no-padding">
      <ion-col size="12">
        <strong class="payout-header">Payout details</strong>
      </ion-col>
    </ion-row>
    <div class="p-2">
      <div class="d-flex justify-content-between mb-2">
        <div class="text-secondary">Company Payout No.</div>
        <div class="text-secondary">21</div>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <div class="text-secondary">My Payout No.</div>
        <div class="text-secondary">21</div>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <div class="text-secondary">From date</div>
        <div class="text-secondary">01-01-2020</div>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <div class="text-secondary">To Date</div>
        <div class="text-secondary">31/01/2020</div>
      </div>
    </div>
  </div>
  <!-- Earning section -->
  <div class="card  mb-2">
    <ion-row class="ion-no-padding">
      <ion-col size="12">
        <strong class="payout-header">Earnings</strong>
      </ion-col>
    </ion-row>
    <div class="p-2">
      <div class="d-flex justify-content-between mb-2">
        <div class="text-secondary">Performance Income</div>
        <div class="text-secondary">
          {{0.00  | currency: appValues.currencyCode: 'symbol': appValues.currencyCodeValue}}</div>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <div class="text-secondary">Director Bonus</div>
        <div class="text-secondary">{{0.00  | currency: appValues.currencyCode: 'symbol': appValues.currencyCodeValue}}
        </div>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <div class="text-secondary">Leadership Bonus</div>
        <div class="text-secondary">{{0.00  | currency: appValues.currencyCode: 'symbol': appValues.currencyCodeValue}}
        </div>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <div class="text-secondary">Fresh Business Bonus</div>
        <div class="text-secondary">{{124.25 | currency: appValues.currencyCode: 'symbol': appValues.currencyCodeValue}}
        </div>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <div class="text-secondary">Car Fund</div>
        <div class="text-secondary">{{0.00  | currency: appValues.currencyCode: 'symbol': appValues.currencyCodeValue}}
        </div>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <div class="text-secondary">Travel Fund</div>
        <div class="text-secondary">{{0.00  | currency: appValues.currencyCode: 'symbol': appValues.currencyCodeValue}}
        </div>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <div class="text-secondary">House Fund</div>
        <div class="text-secondary">
          {{124.25  | currency: appValues.currencyCode: 'symbol': appValues.currencyCodeValue}}
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center px-2 py-2 border-top text-dark">
      <h6 class="font-weight-bold m-0">Total</h6>
      <h6 class="font-weight-bold m-0">
        {{124.25  | currency: appValues.currencyCode: 'symbol': appValues.currencyCodeValue}}</h6>
    </div>
  </div>
  <!-- Deduction section -->
  <div class="card  mb-2">
    <ion-row class="ion-no-padding">
      <ion-col size="12">
        <strong class="payout-header">Deductions</strong>
      </ion-col>
    </ion-row>
    <div class="p-2">
      <div class="d-flex justify-content-between mb-2">
        <div class="text-secondary">TDS</div>
        <div class="text-secondary">{{6.00  | currency: appValues.currencyCode: 'symbol': appValues.currencyCodeValue}}
        </div>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <div class="text-secondary">Admin Charges</div>
        <div class="text-secondary">
          {{6.00  | currency: appValues.currencyCode: 'symbol': appValues.currencyCodeValue}}
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center  px-2 py-2 border-top text-dark">
      <h6 class="font-weight-bold m-0">Total</h6>
      <h6 class="font-weight-bold m-0">
        {{12.05  | currency: appValues.currencyCode: 'symbol': appValues.currencyCodeValue}}</h6>
    </div>
  </div>
  <!-- Total section -->
  <div class="card  mb-2">
    <ion-row class="ion-no-padding">
      <ion-col size="12">
        <strong class="payout-header">Total</strong>
      </ion-col>
    </ion-row>
    <div class="p-2">
      <div class="d-flex justify-content-between mb-2">
        <div class="text-secondary">Amount payable</div>
        <div class="text-secondary">
          {{317.76  | currency: appValues.currencyCode: 'symbol': appValues.currencyCodeValue}}</div>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <div class="text-secondary">Brought forward</div>
        <div class="text-secondary">{{0.00  | currency: appValues.currencyCode: 'symbol': appValues.currencyCodeValue}}
        </div>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <div class="text-secondary">Total amount payable</div>
        <div class="text-secondary">
          {{317.76  | currency: appValues.currencyCode: 'symbol': appValues.currencyCodeValue}}
        </div>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <div class="text-secondary">Carried forward</div>
        <div class="text-secondary">{{0.00  | currency: appValues.currencyCode: 'symbol': appValues.currencyCodeValue}}
        </div>
      </div>
    </div>
      <div class="d-flex justify-content-between align-items-center py-2 px-2 border-top text-dark">
        <h6 class="font-weight-bold m-0">Net payable</h6>
        <h6 class="font-weight-bold m-0">
          {{318.00  | currency: appValues.currencyCode: 'symbol': appValues.currencyCodeValue}}</h6>
      </div>
  </div>
  <!-- Downline details section  -->
  <!-- Ventaforce downline details -->
  <!-- <div class="card  mb-2">
    <ion-row class="ion-no-padding">
      <ion-col size="12">
        <strong class="payout-header">Downline details</strong>
      </ion-col>
    </ion-row>
    <ion-row class="table-header">
      <ion-col col-3 textAlignCenter></ion-col>
      <ion-col col-3 textAlignCenter>Left</ion-col>
      <ion-col col-3 textAlignCenter>Right</ion-col>
      <ion-col col-3 textAlignCenter>Total</ion-col>
    </ion-row>
    <div class="table-container">
      <ion-row>
        <ion-col col-3 textAlignCenter>B.F.</ion-col>
        <ion-col col-3 textAlignCenter>0</ion-col>
        <ion-col col-3 textAlignCenter>0</ion-col>
        <ion-col col-3 textAlignCenter>0</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3 textAlignCenter>New</ion-col>
        <ion-col col-3 textAlignCenter>127</ion-col>
        <ion-col col-3 textAlignCenter>105</ion-col>
        <ion-col col-3 textAlignCenter>232</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3 textAlignCenter>Total</ion-col>
        <ion-col col-3 textAlignCenter>127</ion-col>
        <ion-col col-3 textAlignCenter>105</ion-col>
        <ion-col col-3 textAlignCenter>232</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3 textAlignCenter>Paid</ion-col>
        <ion-col col-3 textAlignCenter>106</ion-col>
        <ion-col col-3 textAlignCenter>105</ion-col>
        <ion-col col-3 textAlignCenter>211</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3 textAlignCenter>CF</ion-col>
        <ion-col col-3 textAlignCenter>21</ion-col>
        <ion-col col-3 textAlignCenter>0</ion-col>
        <ion-col col-3 textAlignCenter>21</ion-col>
      </ion-row>
    </div>
  </div> -->
</ion-content>