.payout-header {
    font-size: 16px;
}
.table-container>ion-row:nth-of-type(even) {
    @extend .row-highlight
  }

  .table-header {
    background: #727a87;
    color: white;
  }
  .row-highlight {
    background-color: #e0e0e0 !important;
}