.highlight-container {
    padding-top: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    .card {
        padding: 10px;
        margin-right: 10px;
        display: inline-block;
        background: #003049;
        color: white;
    }
}

.more-details-links-container {
    ion-avatar {
        background: black;
        color: white;
        display: block;
    }
    ion-label {
        font-size: 13px;
    }
    .record-count {
        text-align: center;
        margin-top: 20%;
        font-size: 12px;
    }
}

.highlight-card1-color {
    background-color: #32a086 !important;
}

.highlight-card2-color {
    background-color: #b4899f !important;
}

.highlight-card3-color {
    background-color: #7d6d3c !important;
}

.highlight-card4-color {
    background-color: #43d3b1 !important;
}

.highlight-card5-color {
    background-color: #17c0f2 !important;
}

.highlight-card6-color {
    background-color: #ffda6d !important;
}

.highlight-card7-color {
    background-color: #0c8fb6 !important;
}

.highlight-card8-color {
    background-color: #ee74b2 !important;
}

.highlight-card9-color {
    background-color: #d9bc65 !important;
}