<ion-header class="ion-no-border osahan-nav">
    <ion-toolbar class="in-toolbar">
        <ion-buttons slot="start">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
        </ion-buttons>
        <ion-title>Dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <div style="height: 70px;background: #003049;"></div>
    <div>
        <!-- <div class="card" style="height: 100px;background: white;margin-top: -70px;"></div> -->
        <ion-card class="card" style="background: white;margin-top: -70px;">
            <ion-row>
                <ion-col size="4" style="padding: 0;">
                    <ion-thumbnail style="width: 100%;height: 100%;">
                        <img src="../../../assets/user/1.jpg" />
                    </ion-thumbnail>
                    <!-- <ion-avatar style="height: 100%;width: 100%;">
                        <img src="../../../assets/user/1.jpg" />
                    </ion-avatar> -->
                </ion-col>
                <ion-col size="8" style="padding-top: 9px;">
                    <ion-label>{{dashboardData.userCurrentStatus.name}}</ion-label><br/>
                    <ion-label>{{dashboardData.userCurrentStatus.memberNo}}</ion-label><br/>
                    <ion-label>
                        <img style="width: 20px;" [src]="dashboardData.userCurrentStatus.statusImg" /> {{dashboardData.userCurrentStatus.status}} ({{dashboardData.userCurrentStatus.statusDate}})
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-card>
    </div>
    <ion-list-header>
        <h6 class="font-bold">Highlights</h6>
    </ion-list-header>
    <div class="ion-padding highlight-container">
        <div class="card highlight-card1-color">
            <div>
                <strong>{{dashboardData.highlights.totalEarning}}</strong>
            </div>
            <ion-label>Total Earning</ion-label>
        </div>
        <div class="card highlight-card2-color">
            <div>
                <strong>{{dashboardData.highlights.companyTurnover}}</strong>
            </div>
            <ion-label>Company Turnover</ion-label>
        </div>
        <div class="card highlight-card3-color">
            <div>
                <strong>{{dashboardData.highlights.freshBV}}</strong>
            </div>
            <ion-label>Fresh BV</ion-label>
        </div>
        <div class="card highlight-card4-color">
            <div>
                <strong>{{dashboardData.highlights.downlineCount}}</strong>
            </div>
            <ion-label>Downline count</ion-label>
        </div>
        <div class="card highlight-card5-color">
            <div>
                <strong>{{dashboardData.highlights.lastMonthDownlineCount}}</strong>
            </div>
            <ion-label>Last Month Downline Count</ion-label>
        </div>
        <div class="card highlight-card6-color">
            <div>
                <strong>{{dashboardData.highlights.currentRank}}</strong>
            </div>
            <ion-label>Current rank</ion-label>
        </div>
        <div class="card highlight-card7-color">
            <div>
                <strong>{{dashboardData.highlights.nextRank}}</strong>
            </div>
            <ion-label>Next rank</ion-label>
        </div>
        <div class="card highlight-card8-color">
            <div>
                <strong>{{dashboardData.highlights.remainingBVForNextRank}}</strong>
            </div>
            <ion-label>Remaining BV for Next Rank</ion-label>
        </div>
        <div class="card highlight-card9-color">
            <div>
                <strong>{{dashboardData.highlights.lastSigninOn}}</strong>
            </div>
            <ion-label>Last Sign-In On</ion-label>
        </div>
        <div class="card highlight-card10-color">
            <div>
                <strong>{{dashboardData.highlights.lastSigninIp}}</strong>
            </div>
            <ion-label>Last Sign-In IP</ion-label>
        </div>
    </div>
    <div class="more-details-links-container">
        <ion-card>
            <ion-list class="ion-no-padding">
                <!-- <ion-item lines="full"> -->
                    <!-- <ion-avatar slot="start">
                        <div class="record-count">58</div>
                    </ion-avatar> -->
                    <!-- <ion-label>Downline Rank Qualifiers</ion-label> -->
                    <!-- <ion-icon slot="end" name="chevron-forward-outline"></ion-icon> -->
                    <!-- <ion-chip color="primary" mode="ios" outline="true">
                        <ion-label>58</ion-label>
                    </ion-chip> -->
                    <!-- <ion-chip color="primary" outline="true">
                        <ion-label>{{dashboardData.downlineRankQualifierCount}}</ion-label>
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                    </ion-chip>
                </ion-item> -->
                <ion-item lines="full" tappable (click)="dashboardSchemeDetails()">
                    <!-- <ion-avatar slot="start">
                        <div class="record-count">58</div>
                    </ion-avatar> -->
                    <ion-label>Scheme Details</ion-label>
                    <!-- <ion-icon slot="end" name="chevron-forward-outline"></ion-icon> -->
                    <ion-chip color="primary" outline="true">
                        <ion-label>{{dashboardData.schemeDetailCount}}</ion-label>
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                    </ion-chip>
                </ion-item>
                <ion-item lines="full" tappable (click)="repurchaseSchemeDetails()">
                    <!-- <ion-avatar slot="start">
                        <div class="record-count">58</div>
                    </ion-avatar> -->
                    <ion-label>Repurchase Scheme Details</ion-label>
                    <!-- <ion-icon slot="end" name="chevron-forward-outline"></ion-icon> -->
                    <ion-chip color="primary" outline="true">
                        <ion-label>{{dashboardData.repurchaseSchemeDetailCount}}</ion-label>
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                    </ion-chip>
                </ion-item>
                <ion-item lines="full">
                    <!-- <ion-avatar slot="start">
                        <div class="record-count">58</div>
                    </ion-avatar> -->
                    <ion-label>Fast Track Scheme Details</ion-label>
                    <!-- <ion-icon slot="end" name="chevron-forward-outline"></ion-icon> -->
                    <ion-chip color="primary" outline="true">
                        <ion-label>{{dashboardData.fastTrackSchemeDetailCount}}</ion-label>
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                    </ion-chip>
                </ion-item>
                <ion-item lines="full">
                    <!-- <ion-avatar slot="start">
                        <div class="record-count">58</div>
                    </ion-avatar> -->
                    <ion-label>Current business</ion-label>
                    <!-- <ion-icon slot="end" name="chevron-forward-outline"></ion-icon> -->
                    <ion-chip color="primary" outline="true">
                        <ion-label>{{dashboardData.currentBusinessCount}}</ion-label>
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                    </ion-chip>
                </ion-item>
                <ion-item lines="full">
                    <!-- <ion-avatar slot="start">
                        <div class="record-count">58</div>
                    </ion-avatar> -->
                    <ion-label>Recent Joining</ion-label>
                    <!-- <ion-icon slot="end" name="chevron-forward-outline"></ion-icon> -->
                    <ion-chip color="primary" outline="true">
                        <ion-label>{{dashboardData.recentjoiningCount}}</ion-label>
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                    </ion-chip>
                </ion-item>
            </ion-list>
        </ion-card>
        <ion-card>
            <ion-item>
                <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
                <ion-label>More Information</ion-label>
            </ion-item>
        </ion-card>
    </div>
</ion-content>