<app-app-header [titleText]="'Monthly Scheme Qualifiers'" [menuButton]="true"></app-app-header>
<ion-content color="light" class="ion-content-padding-10px">
  <div class="card mt15 mb-2" *ngFor="let report of repurchaseSchemeQualifiers">
    <ion-row>
      <ion-col size="6" class="text-left">
        <strong>{{report.name}}</strong>
      </ion-col>
      <ion-col size="6" class="text-right">
        <strong>{{ report.id}}</strong>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="text-left">
        <div class="text-secondary">Offer name</div>
        <div>{{ report.offerName}}</div>
      </ion-col>
      <ion-col size="6" class="text-right">
        <div class="text-secondary">Qualification date</div>
        <div>{{ report.qualificationDate}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="text-left">
        <div class="text-secondary">Scheme name</div>
        <div>{{ report.schemeName}}</div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>