<app-app-header [titleText]="'New Fund Qualification Report'" [menuButton]="true"></app-app-header>
<ion-content color="light" class="ion-content-padding-10px">
    <div class="card mt15 mb-2" *ngFor="let fundItem of newFundQualificationReport">
        <ion-row>
            <ion-col size="12" class="text-left">
                <div><strong>{{fundItem.name}}</strong></div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6" class="text-left">
                <div class="text-secondary">Type</div>
                <div>{{fundItem.type}}</div>
            </ion-col>
            <ion-col size="6" class="text-right">
                <div class="text-secondary">Qualification Date</div>
                <div>{{fundItem.qualificationDate}}</div>
            </ion-col>
        </ion-row>
    </div>
</ion-content>