<app-app-header [titleText]="'Fast Track Scheme Qualifiers'" [menuButton]="true"></app-app-header>
<ion-content color="light" class="ion-content-padding-10px">
  <div class="card mt15 mb-2" *ngFor="let report of fastTrackSchemeQualifiers">
    <ion-row>
      <ion-col size="6" class="text-left">
        <strong>{{report.name}}</strong>
      </ion-col>
      <ion-col size="6" class="text-right">
        <strong>{{ report.id}}</strong>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="text-left">
        <div class="text-secondary">Rank</div>
        <div>{{ report.rank}}</div>
      </ion-col>
      <ion-col size="6" class="text-right">
        <div class="text-secondary">Qualification Date</div>
        <div>{{ report.qualificationDate}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="text-left">
        <div class="text-secondary">Year</div>
        <div>{{ report.year}}</div>
      </ion-col>
      <ion-col size="6" class="text-right">
        <div class="text-secondary">Month</div>
        <div>{{ report.month}}</div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>