<app-app-header [titleText]="'GBV Income Details'" [menuButton]="true"></app-app-header>
<ion-content color="light" class="ion-content-padding-10px">
  <div class="card mt15 mb-2" *ngFor="let report of gbvIncomeDetailsReport">
    <ion-row>
      <ion-col size="12" class="text-left">
        <div><strong>{{report.legDirectorName}}</strong></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="text-left">
        <div class="text-secondary">Business</div>
        <div>{{report.business}}</div>
      </ion-col>
      <ion-col size="6" class="text-right">
        <div class="text-secondary">GBV Percentage</div>
        <div>{{report.gbvPercentage}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="text-left">
        <div class="text-secondary">GBV Points</div>
        <div>{{report.gbvPoints}}</div>
      </ion-col>
      <ion-col size="6" class="text-right">
        <div class="text-secondary">GBV Points value</div>
        <div>{{report.gbvPointValue}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="text-left">
        <div class="text-secondary">GBV Income</div>
        <div>{{report.gbvIncome}}</div>
      </ion-col>
      <ion-col size="6" class="text-right">
        <div class="text-secondary">Capping</div>
        <div>{{report.capping}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="text-left">
        <div class="text-secondary">Lapsed points</div>
        <div>{{report.lapsedPoints}}</div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer class="ion-no-border footer-background">
  <ion-row>
    <ion-col size="6" class="text-left">
      <div class="text-secondary"><strong>GBV Income</strong></div>
    </ion-col>
    <ion-col size="6" class="text-right">
      <div class="text-secondary"><strong>{{124.25  | currency: appConstants.currencyCode: 'symbol': appConstants.currencyCodeValue}}</strong></div>
    </ion-col>
  </ion-row>
</ion-footer>