<ion-header class="osahan-nav">
  <ion-toolbar class="in-toolbar">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>
      FAQ
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="in-toolbar  toolbar-searchbar">
    <ion-searchbar class="searchbar-left-aligned" placeholder="Search" inputmode="text" type="search">
      <ion-icon aria-hidden="true" class="searchbar-search-icon sc-ion-searchbar-md " role="img"
        aria-label="search sharp"></ion-icon>
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content color="light" style="--offset-top:0px; --offset-bottom:0px;">
    <ion-card class="faq-card">
      <ion-card-header class="ion-inherit-color ">
        <ion-card-title role="heading" aria-level="2" class="ion-inherit-color ">Where
          can I get access to Capital IQ?</ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-content"> Anim pariatur cliche reprehenderit,
        enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
        dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on
        it squid single-origin coffee nulla assumenda shoreditch et. Nihil helvetica, craf. </ion-card-content>
    </ion-card>
    <ion-card class="faq-card">
      <ion-card-header class="ion-inherit-color ">
        <ion-card-title role="heading" aria-level="2" class="ion-inherit-color ">How do
          I get access to case studies?</ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-content"> Enim eiusmod high life accusamus terry
        richardson ad squid. 3 wolf moon officia aute Anim pariatur cliche reprehenderit, non cupidatat skateboard dolor
        brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
        squid single-origin coffee nulla assumenda shoreditch et. Nihil helvetica, craf. </ion-card-content>
    </ion-card>
    <ion-card class="faq-card">
      <ion-card-header class="ion-inherit-color ">
        <ion-card-title role="heading" aria-level="2" class="ion-inherit-color ">How
          much should I capitalize?</ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-content"> Bird on it squid single-origin coffee
        nulla assumenda shoreditch et. Nihil helvetica, craf. Anim pariatur cliche reprehenderit, enim eiusmod high life
        accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
        quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a </ion-card-content>
    </ion-card>
  </ion-content>