<app-app-header [titleText]="'Payment'" [backButton]="true"></app-app-header>
<ion-content class="ion-padding" color="light">
    <div class="rounded shadow-sm mb-2 bg-white text-center">
        <img _ngcontent-pav-c10="" alt="img" src="assets/payment_methods.png">
    </div>
    <div class="card">
        <form>
            <ion-list class="ion-no-margin ion-no-padding">
                <ion-item>
                    <ion-label position="stacked"> Card Number
                        <ion-text color="danger">
                            *
                        </ion-text>
                    </ion-label>
                    <ion-input type="text" placeholder="Enter Card Number"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked"> mm/yy (Valid Thru)
                        <ion-text color="danger">
                            *
                        </ion-text>
                    </ion-label>
                    <ion-input type="number" placeholder="Enter mm/yy (Valid Thru) "></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked"> CVV
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input placeholder="Enter CVV">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Nickname (Optional)</ion-label>
                    <ion-input placeholder="Enter Nickname" type="text"></ion-input>
                </ion-item>
            </ion-list>
            <div class="ion-padding">
                <ion-button class="ion-no-margin" expand="block" tabindex="0" (click)="orderPlace()">SAVE</ion-button>
            </div>
        </form>
    </div>
</ion-content>