<app-app-header [titleText]="'My Profile'" [menuButton]="true"></app-app-header>

<ion-content class="ion-padding my-profile-page" color="light">
  <div class="mb-2 card bg-white profile-box text-center">
    <div class="py-4 px-3 border-bottom">
      <img
        alt="img"
        class="img-fluid mt-2 rounded-circle"
        src="assets/user/1.jpg"
      />
      <h5 class="font-weight-bold text-dark mb-1 mt-4">{{ user.firstName }} {{ user.lastName }}</h5>
      <p class="mb-0 text-muted">{{ user.emailId }}</p>
    </div>
    <div class="d-flex">
      <div class="col-6 border-right p-3" tabindex="0" (click)="editAddress()">
        <h6 class="font-weight-bold text-dark mb-1">
          <ion-icon
            name="navigate-circle-outline"
            ng-reflect-name="navigate-circle-outline"
            class="md hydrated"
            aria-label="navigate circle outline"
          ></ion-icon>
        </h6>
        <p class="mb-0 text-black-50 small">Edit Address</p>
      </div>
      <div class="col-6 p-3" tabindex="0" tappable (click)="editProfile()">
        <h6 class="font-weight-bold text-dark mb-1">
          <ion-icon
            name="person-circle-outline"
            ng-reflect-name="person-circle-outline"
            class="md hydrated"
            aria-label="person circle outline"
          ></ion-icon>
        </h6>
        <p class="mb-0 text-black-50 small">Edit Profile</p>
      </div>
    </div>
    <div
      class="overflow-hidden border-top p-3 d-flex justify-content-between align-items-center"
      tabindex="0" tappable (click)="myWallet()">
      <small class="text-secondary font-weight-bold">
        <ion-icon
          name="wallet-outline"
          ng-reflect-name="wallet-outline"
          class="md hydrated"
          aria-label="wallet outline"
        ></ion-icon>
        My Balance: </small
      ><small class="text-primary font-weight-bold">$4,543,00</small>
    </div>
  </div>
  <div class="list-group">
    <a class="list-group-item list-group-item-action active">
      <ion-icon
        class="mr-2 md hydrated"
        name="person-outline"
        role="img"
        aria-label="person outline"
      ></ion-icon>
      My Profile </a
    ><a class="list-group-item list-group-item-action" tappable (click)="myAddress()">
      <ion-icon
        class="mr-2 md hydrated"
        name="location-outline"
        role="img"
        aria-label="location outline"
      ></ion-icon>
      My Address </a
    ><a class="list-group-item list-group-item-action" tappable (click)="wishlist()">
      <ion-icon
        class="mr-2 md hydrated"
        name="heart-outline"
        role="img"
        aria-label="heart outline"
      ></ion-icon>
      Wish List </a
    ><a
      class="list-group-item list-group-item-action"
      ng-reflect-router-link="/order-list"
      tappable (click)="orderList()"
    >
      <ion-icon
        class="mr-2 md hydrated"
        name="list-outline"
        role="img"
        aria-label="list outline"
      ></ion-icon>
      Order List </a
    ><a class="list-group-item list-group-item-action" tappable (click)="myWallet()">
      <ion-icon
        class="mr-2 md hydrated"
        name="wallet-outline"
        role="img"
        aria-label="wallet outline"
      ></ion-icon>
      My wallet
    </a>
  </div>
</ion-content>
<ion-footer class="border-0" role="contentinfo">
  <ion-button
    class="p-0 m-0"
    color="primary"
    expand="full"
    size="large"
    ng-reflect-expand="full"
  >
    <ion-icon name="lock-closed-outline"></ion-icon> Logout
  </ion-button>
</ion-footer>
