<app-app-header [titleText]="'Referrel Business Report'" [menuButton]="true"></app-app-header>
<ion-content color="light" class="ion-content-padding-10px">
  <div class="card mt15 mb-2" *ngFor="let report of referrelBusinessReport">

    <ion-row>
      <ion-col size="12" class="text-left">
        <div>Name</div>
        <div><strong>{{report.name}}</strong></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="text-left">
        <div class="text-secondary">ID</div>
        <div>{{report.id}}</div>
      </ion-col>
      <ion-col size="6" class="text-right">
        <div class="text-secondary">Distributer ID</div>
        <div>{{report.distributorID}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="text-left">
        <div class="text-secondary">Order no</div>
        <div>{{report.orderNo}}</div>
      </ion-col>
      <ion-col size="6" class="text-right">
        <div class="text-secondary">Order Date</div>
        <div>{{report.orderDate}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="text-left">
        <div class="text-secondary">Order no</div>
        <div>{{report.orderNo}}</div>
      </ion-col>
      <ion-col size="6" class="text-right">
        <div class="text-secondary">Order Date</div>
        <div>{{report.orderDate}}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" class="text-left">
        <div class="text-secondary">Order Amount</div>
        <div>{{report.orderAmount}}</div>
      </ion-col>
      <ion-col size="6" class="text-right">
        <div class="text-secondary">Referrel Bonus</div>
        <div>{{report.referrelBouns}}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" class="text-left">
        <div class="text-secondary">TDS Amount</div>
        <div>{{report.TDSamount}}</div>
      </ion-col>
      <ion-col size="6" class="text-right">
        <div class="text-secondary">Admin Bonus</div>
        <div>{{report.adminAmount}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="text-left">
        <div class="text-secondary">Net Amount</div>
        <div>{{report.netamount}}</div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>